---
title: "THÔNG BÁO THU PHÍ"
language: vi
bodyClass: bg-white m-0
class: w-[800px] mx-auto bg-white p-24 font-sans text-[16px] box-border
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full table-auto mb-24">
      <tr>
        <td class="">
          <div class="pl-[28px]">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/storeage-9a11b.appspot.com/o/Picture1.png?alt=media&token=b2691b6a-3de8-44be-8a6d-b366c5d7c616"
              alt="CT1 - A10"
              height="68"
            />
          </div>
          <div class="font-[600] text-[12px]">
            BQL TÒA NHÀ CT1 - A10 NAM TRUNG YÊN
          </div>
        </td>
        <td class="text-center w-[390px]">
          <div class="uppercase text-[18px] mb-6">
            CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
          </div>
          <div class="mb-10">Độc lập - Tự do - Hạnh phúc</div>
        </td>
      </tr>
    </table>

    <h1
      class="text-center uppercase mt-[44px] font-[600] text-[22px] leading-0"
    >
      THÔNG BÁO THU TIỀN
    </h1>
    <div class="text-center font-[600] mb-12">
      Phí dịch vụ nhà chung cư CT1 - A10 Nam Trung Yên
    </div>

    <table class="table-auto w-full mb-6">
      <tr>
        <td colspan="2" class="pb-8">
          <span class="font-[500] text-[15px]">Kính gửi Ông/Bà:</span>
          <span class="font-[600]">Lorem ipsum dolor sit amet </span>
        </td>
        <td class="text-right pb-8 font-[600]">
          <span>Mã CH:</span>
          <span>CT1.510</span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <span class="font-[500] text-[15px]">Tại căn hộ:</span>
          <span class="font-[600] text-red-500">510</span>
          <span>Tòa nhà CT1 - A10 Nam Trung Yên</span>
        </td>
      </tr>
    </table>

    <div class="mb-12">
      Ban quản lý xin thông báo tới quý Cư dân kỳ tính phí dịch vụ, phí gửi xe,
      phí nước sinh hoạt của Căn hộ:
    </div>

    <table class="table-auto border-collapse w-full mb-16">
      <tr class="bg-gray-300">
        <th class="p-8 border border-solid w-[24px]">I</th>
        <th class="p-8 border border-solid text-left">Dịch vụ tháng 09/2023</th>
        <th class="p-8 border border-solid text-right">Diện tích</th>
        <th class="p-8 border border-solid text-right w-[50px]"></th>
        <th class="p-8 border border-solid text-right">Đơn giá</th>
        <th class="p-8 border border-solid text-right w-[50px]"></th>
        <th class="p-8 border border-solid text-right">Thành tiền</th>
        <th class="p-8 border border-solid text-right w-[50px]"></th>
      </tr>
      <tr class="italic">
        <td class="p-6 border border-solid text-center italic">1</td>
        <td class="p-6 border border-solid text-left">Tiền dịch vụ</td>
        <td class="p-6 border border-solid text-right">93,80</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">6.000</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">562.800</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr>
        <td class="p-6 border border-solid text-center italic">2</td>
        <td class="p-6 border border-solid text-left font-[600]" colspan="2">
          Phải thu
        </td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right font-[600]">562.800</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr class="bg-gray-300">
        <th class="p-8 border border-solid w-[24px]">II</th>
        <th class="p-8 border border-solid text-left">Nước tháng 08/2023</th>
        <th class="p-8 border border-solid text-right">Chỉ số đầu</th>
        <th class="p-8 border border-solid text-right w-[50px]">1.211</th>
        <th class="p-8 border border-solid text-right">Chỉ số cuối</th>
        <th class="p-8 border border-solid text-right w-[50px]">1.238</th>
        <th class="p-8 border border-solid text-right">Số sử dụng</th>
        <th class="p-8 border border-solid text-right w-[50px]">27</th>
      </tr>
      <tr class="italic">
        <td class="p-6 border border-solid text-center italic">1</td>
        <td class="p-6 border border-solid text-left">Tiền nước HS1:</td>
        <td class="p-6 border border-solid text-right">10</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">7.500</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">75.000</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr class="italic">
        <td class="p-6 border border-solid text-center italic">2</td>
        <td class="p-6 border border-solid text-left">Tiền nước HS2:</td>
        <td class="p-6 border border-solid text-right">10</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">8.800</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">88.002</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr class="italic">
        <td class="p-6 border border-solid text-center italic">3</td>
        <td class="p-6 border border-solid text-left">Tiền nước HS3:</td>
        <td class="p-6 border border-solid text-right">7</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">12.000</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">84.000</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr class="italic">
        <td class="p-6 border border-solid text-center italic">4</td>
        <td class="p-6 border border-solid text-left">Tiền nước HS4:</td>
        <td class="p-6 border border-solid text-right">-</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr class="italic">
        <td class="p-6 border border-solid text-center italic">5</td>
        <td class="p-6 border border-solid text-left font-[600]" colspan="2">
          Cộng
        </td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right font-[600]">247.002</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr class="italic">
        <td class="p-6 border border-solid text-center italic">6</td>
        <td class="p-6 border border-solid text-left italic" colspan="2">
          Phí bảo vệ môi trường 10%
        </td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">24.700</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr class="italic">
        <td class="p-6 border border-solid text-center italic">7</td>
        <td class="p-6 border border-solid text-left italic" colspan="2">
          VAT 5%
        </td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">12.350</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr>
        <td class="p-6 border border-solid text-center italic">8</td>
        <td class="p-6 border border-solid text-left font-[600]" colspan="2">
          Phải thu
        </td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right font-[600]">284.052</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr class="bg-gray-300">
        <th class="p-8 border border-solid w-[24px]">III</th>
        <th class="p-8 border border-solid text-left">Gửi xe tháng 09/2023</th>
        <th class="p-8 border border-solid text-right">Số lượng</th>
        <th class="p-8 border border-solid text-right w-[50px]"></th>
        <th class="p-8 border border-solid text-right">Đơn giá</th>
        <th class="p-8 border border-solid text-right w-[50px]"></th>
        <th class="p-8 border border-solid text-right">Thành tiền</th>
        <th class="p-8 border border-solid text-right w-[50px]"></th>
      </tr>
      <tr class="italic">
        <td class="p-6 border border-solid text-center italic">1</td>
        <td class="p-6 border border-solid text-left">Xe ôtô</td>
        <td class="p-6 border border-solid text-right">1</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">1.600.000</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">1.600.000</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr class="italic">
        <td class="p-6 border border-solid text-center italic">2</td>
        <td class="p-6 border border-solid text-left">Xe máy - Xe điện</td>
        <td class="p-6 border border-solid text-right">3</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">80.000</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">280.000</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr class="italic">
        <td class="p-6 border border-solid text-center italic">3</td>
        <td class="p-6 border border-solid text-left">Xe đạp</td>
        <td class="p-6 border border-solid text-right">-</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">-</td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right">-</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr>
        <td class="p-6 border border-solid text-center italic">4</td>
        <td class="p-6 border border-solid text-left font-[600]" colspan="2">
          Phải thu
        </td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right"></td>
        <td class="p-6 border border-solid text-right font-[600]">1.880.000</td>
        <td class="p-6 border border-solid text-right"></td>
      </tr>
      <tr class="bg-gray-300">
        <th class="p-8 border border-solid w-[24px]">IV</th>
        <th class="p-8 border border-solid text-left" colspan="3">
          Cộng phát sinh trong tháng (I+II+III)
        </th>
        <th class="p-8 border border-solid text-right"></th>
        <th class="p-8 border border-solid text-right w-[50px]"></th>
        <th class="p-8 border border-solid text-right">2.726.852</th>
        <th class="p-8 border border-solid text-right w-[50px]"></th>
      </tr>
      <tr>
        <th class="p-8 border border-solid w-[24px]">V</th>
        <th class="p-8 border border-solid text-left" colspan="3">
          <span class="text-red-500 underline italic">
            Dư nợ kỳ trước chuyển sang
          </span>
        </th>
        <th class="p-8 border border-solid text-right"></th>
        <th class="p-8 border border-solid text-right w-[50px]"></th>
        <th class="p-8 border border-solid text-right">
          <span class="text-red-500">-</span>
        </th>
        <th class="p-8 border border-solid text-right w-[50px]"></th>
      </tr>
      <tr class="bg-gray-300">
        <th class="p-8 border border-solid w-[24px]">VI</th>
        <th class="p-8 border border-solid text-left" colspan="3">Tổng cộng</th>
        <th class="p-8 border border-solid text-right"></th>
        <th class="p-8 border border-solid text-right w-[50px]"></th>
        <th class="p-8 border border-solid text-right">2.726.852</th>
        <th class="p-8 border border-solid text-right w-[50px]"></th>
      </tr>
      <tr>
        <td class="p-6 border border-solid text-center italic"></td>
        <td class="p-6 border border-solid text-left" colspan="7">
          <span>Bằng chữ: </span>
          <span class="font-[600]"></span>
        </td>
      </tr>
    </table>

    <div class="mb-6">
      Đề nghị quý Cư dân thanh toán số tiền trên từ
      <span class="text-red-500 underline font-[500]"
        >ngày 01/09/2023 đến ngày 14/09/2023</span
      >
    </div>

    <div class="mb-6">
      • Thanh toán trực tiếp tại:
      <span class="text-red-500 font-[500]"
        >VP Ban quản lý tòa nhà - Tầng 3</span
      >
    </div>

    <table class="table-auto w-full mb-2">
      <tr>
        <td class="align-top">
          <div class="mb-8">• Hoặc chuyển khoản đến:</div>
          <div class="mb-8 pl-11 text-red-500 font-[500]">CTK: Công ty CP vận hành QLTN Tân Phong</div>
          <div class="mb-8 pl-11 text-red-500 font-[500]">STK: 0300 1017 282 606</div>
          <div class="pl-11 text-red-500 font-[500]">Ngân hàng MSB</div>
        </td>
        <td class="p-4 pb-0 w-[100px]" rowspan="4">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/storeage-9a11b.appspot.com/o/qr.png?alt=media&token=b9927320-fcdb-49b9-9d3a-dfc25cfade15"
            alt=""
            width="100"
          />
        </td>
      </tr>
    </table>

    <div class="mb-12 pl-11 font-[500]">
      <span>Nội dung nộp tiền:</span>
      <span>Căn hộ 510 CT1-A10 Thanh toán kỳ thu phí tháng 09/2023</span>
    </div>

    <div class="mb-8">Rất mong nhận được sự hợp tác của quý Cư dân!</div>

    <div class="mb-6">
      <span>Mọi thông tin xin liên hệ</span>
      <span class="font-[500]">Mrs. Huệ: 0986.852.074</span>
      <span>hoặc</span>
      <span class="font-[500]">Hotline: 0862.379.088</span>
    </div>

    <div class="mt-24 mb-32 uppercase text-center font-[500] underline">
      QUÝ CƯ DÂN ĐÃ ĐÓNG PHÍ, XIN VUI LÒNG BỎ QUA THÔNG BÁO NÀY!
    </div>
  </block>
</extends>
