---
title: "THÔNG BÁO THU PHÍ"
language: vi
bodyClass: bg-white m-0
class: w-[800px] mx-auto bg-white p-24 font-sans text-[16px] box-border
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full table-auto mb-12">
      <tr>
        <td class="">
          <div class="w-[80px]">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/storeage-9a11b.appspot.com/o/hiyori%2Fhiyori-1.png?alt=media&token=c051a9ab-0c20-44e1-bb44-1a2892c5e91d"
              alt="HIYORI"
              height="76"
            />
          </div>
        </td>
        <td class="w-full text-center">
          <div class="mb-2">
            Lô 2 - A2 Võ Văn Kiệt, P. An Hải Đông, Q. Sơn Trà, TP Đà Nẵng\ Lot
            2-A2 Vo Van Kiet Street,An Hai Dong Ward, Son Tra District, Da Nang
          </div>
          <div class="mb-6">Điện thoại (Phone): 0876.066.077</div>
        </td>
        <td class="text-right">
          <div class="w-[80px]">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/storeage-9a11b.appspot.com/o/hiyori%2Fhiyori-2.png?alt=media&token=fd8f7673-cf3d-40e1-9627-00f791c86698"
              alt="HIYORI"
              height="64"
            />
          </div>
        </td>
      </tr>
    </table>

    <div class="text-center mb-20">
      <h2 class="uppercase leading-0 mb-[26px]">
        GIẤY BÁO PHÍ THÁNG 11 /2023 (LẦN 1)
      </h2>
      <h2 class="uppercase leading-0 mb-[14px]">
        EXPENSE NOTICE - 11/2023 (ONE)
      </h2>
      <div class="font-[500]">Tháng 11 năm 2023 (Payment for Nov 2023)</div>
      <div class="font-[500]">
        Ngày phát hành 03/11/2023 (Release 03 Nov 2023)
      </div>
    </div>

    <table class="table-auto w-full mb-12">
      <tr>
        <td colspan="2" class="pb-6">
          <span class="font-[500] text-[15px]">Khách hàng (Customer):</span>
          <span class="font-[600]">Lorem ipsum dolor sit amet </span>
        </td>
        <td class="text-right pb-6">
          <span class="font-[500]">Căn hộ/Apartment:</span>
          <span class="font-[600] bg-orange-400 px-2">46</span>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          Ban quản lý tòa nhà xin thông báo tới Quý Căn hộ về các khoản phí dịch
          vụ cần nộp trong tháng 11/2023 như sau:
        </td>
      </tr>
      <tr>
        <td colspan="3" class="pb-4">
          (We would like to inform the service charges for the month of November
          2023 as belows)
        </td>
      </tr>
      <tr>
        <td colspan="3" class="text-right italic opacity-60">
          Đơn vị tiền tệ (currency unit) VNĐ
        </td>
      </tr>
    </table>

    <table class="table-auto border-collapse w-full mb-16">
      <thead>
        <tr class="bg-blue-200">
          <th class="py-6 border border-solid w-[40px]">STT No.</th>
          <th class="py-6 border border-solid text-center" colspan="2">
            <div>Loại phí</div>
            <div>Fees</div>
          </th>
          <th class="py-6 border border-solid text-center w-[100px]">ĐVT</th>
          <th class="py-6 border border-solid text-center w-[100px]">
            <div>Số lượng</div>
            <div>Quantity</div>
          </th>
          <th class="py-6 border border-solid text-center w-[100px]">
            <div>Đơn giá</div>
            <div>Unit price</div>
          </th>
          <th class="py-6 border border-solid text-center w-[140px]">
            <div>Thành tiền</div>
            <div>Amount vnd</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">I</td>
          <td class="p-6 border border-solid font-[600]" colspan="2">
            <div>Phí quản lý tháng</div>
            <div>(Management fees)</div>
          </td>
          <td class="p-6 border border-solid text-center">m2</td>
          <td class="p-6 border border-solid text-center">-</td>
          <td class="p-6 border border-solid text-right">13.500</td>
          <td class="p-6 border border-solid text-right font-[600]">-</td>
        </tr>

        <tr>
          <td class="p-6 border border-solid text-center font-[600]">II</td>
          <td class="p-6 border border-solid font-[600]" colspan="5">
            Nước sinh hoạt (Water fees) từ 1/10/2023 đến 31/10/2023
          </td>
          <td class="p-6 border border-solid text-right font-[600]">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid font-[600]" colspan="3">
            CS cũ (previous month)
          </td>
          <td class="p-6 border border-solid text-right font-[600]" rowspan="2">
            -
          </td>
          <td class="p-6 border border-solid text-right font-[600]">-</td>
          <td class="p-6 border border-solid text-right font-[600]" rowspan="2">
            -
          </td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid font-[600]" colspan="3">
            CS mới (current month)
          </td>
          <td class="p-6 border border-solid text-right font-[600]">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">1</td>
          <td class="p-6 border border-solid" colspan="2">
            10 m3 đầu tiên (level 1)
          </td>
          <td class="p-6 border border-solid text-center">m3</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">4.580</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">2</td>
          <td class="p-6 border border-solid" colspan="2">
            từ 11 m3 đến 30 m3 (level 2)
          </td>
          <td class="p-6 border border-solid text-center">m3</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">5.488</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">3</td>
          <td class="p-6 border border-solid" colspan="2">
            từ 31 m3 trở lên (level 3)
          </td>
          <td class="p-6 border border-solid text-center">m3</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">6.849</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>

        <tr>
          <td class="p-6 border border-solid text-center font-[600]">III</td>
          <td class="p-6 border border-solid font-[600]" colspan="5">
            Điện sinh hoạt (Electricity) từ 1/10/2023 đến 31/10/2023
          </td>
          <td class="p-6 border border-solid text-right font-[600]">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid font-[600]" colspan="3">
            CS cũ (previous month)
          </td>
          <td class="p-6 border border-solid text-right font-[600]" rowspan="2">
            -
          </td>
          <td class="p-6 border border-solid text-right font-[600]">-</td>
          <td class="p-6 border border-solid text-right font-[600]" rowspan="2">
            -
          </td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid font-[600]" colspan="3">
            CS mới (current month)
          </td>
          <td class="p-6 border border-solid text-right font-[600]">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">1</td>
          <td class="p-6 border border-solid" colspan="2">
            50kwh đầu tiên (Level 1)
          </td>
          <td class="p-6 border border-solid text-center">kW</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">1812</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">2</td>
          <td class="p-6 border border-solid" colspan="2">
            Từ 51kwh đến 100kwh (Level 2)
          </td>
          <td class="p-6 border border-solid text-center">kW</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">1873</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">3</td>
          <td class="p-6 border border-solid" colspan="2">
            Từ 101kwh đến 200kwh (Level 3)
          </td>
          <td class="p-6 border border-solid text-center">kW</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">2175</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">4</td>
          <td class="p-6 border border-solid" colspan="2">
            Từ 201kwh đến 300kwh (Level 4)
          </td>
          <td class="p-6 border border-solid text-center">kW</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">2739</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">5</td>
          <td class="p-6 border border-solid" colspan="2">
            Từ 301kwh đến 400kwh (Level 5)
          </td>
          <td class="p-6 border border-solid text-center">kW</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">3061</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">6</td>
          <td class="p-6 border border-solid" colspan="2">
            Từ 402kwh trở lên (Level 6)
          </td>
          <td class="p-6 border border-solid text-center">kW</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">3161</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>

        <tr>
          <td class="p-6 border border-solid text-center font-[600]">IV</td>
          <td class="p-6 border border-solid font-[600]" colspan="5">
            Phí xe cố định tháng / The Fixed car parking fees for the month
          </td>
          <td class="p-6 border border-solid text-right font-[600]">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">1</td>
          <td class="p-6 border border-solid border-r-gray-100">Phí sạc</td>
          <td class="p-6 border border-solid">Charging fee</td>
          <td class="p-6 border border-solid text-center">Xe</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">2</td>
          <td class="p-6 border border-solid border-r-gray-100">Xe đạp điện</td>
          <td class="p-6 border border-solid">Electric bicycle</td>
          <td class="p-6 border border-solid text-center">Xe</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">3</td>
          <td class="p-6 border border-solid border-r-gray-100">Xe máy điện</td>
          <td class="p-6 border border-solid">Electric motorbike</td>
          <td class="p-6 border border-solid text-center">Xe</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">4</td>
          <td class="p-6 border border-solid border-r-gray-100">Xe máy</td>
          <td class="p-6 border border-solid">Motorbike</td>
          <td class="p-6 border border-solid text-center">Xe</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">100.000</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[600]">5</td>
          <td class="p-6 border border-solid border-r-gray-100">Xe ô tô</td>
          <td class="p-6 border border-solid">Car</td>
          <td class="p-6 border border-solid text-center">Xe</td>
          <td class="p-6 border border-solid text-right">-</td>
          <td class="p-6 border border-solid text-right">1.500.000</td>
          <td class="p-6 border border-solid text-right">-</td>
        </tr>

        <tr>
          <td class="p-6 border border-solid text-center font-[600]">V</td>
          <td class="p-6 border border-solid font-[600]" colspan="5">
            <div>TỔNG PHÁT SINH TRONG THÁNG (I+II+III+IV)</div>
            <div>TOTAL MONTHLY ACCRUED</div>
          </td>
          <td class="p-6 border border-solid text-right font-[600]">-</td>
        </tr>

        <tr>
          <td class="p-6 border border-solid text-center font-[600]">VI</td>
          <td class="p-6 border border-solid font-[600]" colspan="5">
            CÔNG NỢ / DEBT
          </td>
          <td class="p-6 border border-solid text-right font-[600]">-</td>
        </tr>

        <tr>
          <td class="p-6 border border-solid text-center font-[600]">VII</td>
          <td class="p-6 border border-solid font-[600]" colspan="5">
            TỔNG CỘNG THANH TOÁN (V+VI) / TOTAL AMOUNT
          </td>
          <td
            class="p-6 border border-solid text-right font-[600] bg-slate-200"
          >
            -
          </td>
        </tr>
      </tbody>
    </table>

    <div class="font-[600] mb-6">
      <div>PHƯƠNG THỨC THANH TOÁN:</div>
      <div>PAYMENT METHODS:</div>
    </div>

    <div class="mb-6 font-[500]">
      <div class="">
        <span class="font-[300]">1/</span>
        <span>Thanh toán trực tiếp/ Direct payment:</span>
      </div>
      <div class="pl-16">
        Tại quầy lễ tân hoặc văn phòng BQL: từ 8:00 đến 17:00 các ngày trong
        tuần
      </div>
      <div class="pl-[18px] italic">
        Reception desk or management broad office: from 8:00 AM to 5:00 PM day
        of the week
      </div>
    </div>

    <div class="mb-6 font-[500]">
      <span class="font-[300]">2/</span>
      <span>Thanh toán chuyển khoản/Payment transfer:</span>
    </div>

    <table class="table-auto w-full border-collapse mb-12">
      <tr>
        <td class="py-2 px-2 border border-solid">
          <span>Tên tài khoản / Account name: </span>
          <span class="font-[500]">
            Ban Quản Trị Tòa Nhà Hiyori Garden Tower
          </span>
        </td>
        <td class="p-4 border border-solid w-[100px]" rowspan="4">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/storeage-9a11b.appspot.com/o/qr.png?alt=media&token=b9927320-fcdb-49b9-9d3a-dfc25cfade15"
            alt=""
            width="120"
          />
        </td>
      </tr>
      <tr>
        <td class="py-2 px-2 border border-solid">
          <span>Chủ tài Khoản / Account owner: </span>
          <span class="font-[500]"
            >Ban Quản Trị Tòa Nhà Hiyori Garden Tower</span
          >
        </td>
      </tr>
      <tr>
        <td class="py-2 px-2 border border-solid">
          <span>Số tài khoản / Account number: </span>
          <span class="font-[500]">413133028800022</span>
        </td>
      </tr>
      <tr>
        <td class="py-2 px-2 border border-solid">
          <span>Tại ngân hàng / Bank: </span>
          <span class="font-[500]">
            Ngân Hàng Nam Á - PGF Sơn Trà - Tp. Đà Nẵng
          </span>
        </td>
      </tr>
    </table>

    <div class="font-[500] mb-6">
      Nếu cư dân có nhu cầu xuất hóa đơn VAT xin vui lòng chuyển khoản :
    </div>
    <table class="table-auto w-full border-collapse mb-6">
      <tr>
        <td class="py-2 px-2 border border-solid">
          <span>Tên tài khoản / Account name: </span>
          <span class="font-[500]">CÔNG TY TNHH GOLD HANDS GROUP</span>
        </td>
        <td class="p-4 border border-solid w-[100px]" rowspan="4">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/storeage-9a11b.appspot.com/o/qr.png?alt=media&token=b9927320-fcdb-49b9-9d3a-dfc25cfade15"
            alt=""
            width="120"
          />
        </td>
      </tr>
      <tr>
        <td class="py-2 px-2 border border-solid">
          <span>Chủ tài Khoản / Account owner: </span>
          <span class="font-[500]">CÔNG TY TNHH GOLD HANDS GROUP</span>
        </td>
      </tr>
      <tr>
        <td class="py-2 px-2 border border-solid">
          <span>Số tài khoản / Account number: </span>
          <span class="font-[500]">0311245468</span>
        </td>
      </tr>
      <tr>
        <td class="py-2 px-2 border border-solid">
          <span>Tại ngân hàng / Bank: </span>
          <span class="font-[500]">
            Ngân Hàng Sacombank - CN Sông Hàn Đà Nẵng
          </span>
        </td>
      </tr>
    </table>

    <div class="mb-12 font-[500] italic">
      <div class="">
        Nội dung chuyển khoản: Mã căn hộ + Tên chủ hộ + Thanh toán tiền PQL
        tháng 11/2023; Tiền gửi xe;
      </div>
      <div class="">
        Content of transfer: Apartment + Customer Name + Pay the service in
        11/2023: Parking fee;
      </div>
    </div>

    <div class="mb-12">
      <div class="font-[500] mb-2">Ghi chú/Note:</div>
      <div class="text-[15px]">
        Đề nghị Quý cư dân vui lòng thanh toán các khoản phí trên trước ngày:
        15/11/2023
      </div>
      <div class="text-[15px] italic mb-4">
        Please pay the above fees before: November 15, 2023
      </div>
      <div class="text-[15px]">
        Mọi thắc mắc về khoản phí trên Quý cư dân vui lòng liên hệ số hotline:
        0326 575 768 để được hỗ trợ
      </div>
      <div class="text-[15px] italic">
        If you have any questions about the fees, please feel free to contact
        the hotline: 0326 575 768 for further
      </div>
    </div>

    <table class="table-auto w-full mb-12 whitespace-nowrap">
      <tr>
        <td class="align-top font-[600]">
          <div class="text-center">Trân trọng thông báo!</div>
          <div class="text-center">Best regards</div>
        </td>
        <td class="align-top w-full"></td>
        <td class="text-center">
          <div class="text-center mb-4 font-[600]">
            <div class="">BAN QUẢN LÝ TÒA NHÀ HIYORI GARDEN TOWER</div>
            <div class="">HOYORI GARDEN TOWER BUILDING MANAGEMENT</div>
          </div>
          <div class="mb-6">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/storeage-9a11b.appspot.com/o/hiyori%2Fhiyori-3.png?alt=media&token=10e1d200-ca6f-49a1-a8f5-b751dbad137c"
              alt="LÝ TẤN TÀI"
              height="60"
            />
          </div>
          <div class="text-center">LÝ TẤN TÀI</div>
        </td>
      </tr>
    </table>
  </block>
</extends>
