---
title: "THÔNG BÁO THU PHÍ"
language: vi
bodyClass: bg-white m-0
class: w-800 mx-auto bg-white p-24 font-sans box-border
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="table-auto w-full mb-24 border-collapse border-collapse-table">
      <tr>
        <td class="border border-solid w-[144px]"><div class=""><img src="images/htc-logo.jpeg" height="64" alt="Logo" /></div></td>
        <td class="border border-solid py-[4px]">
            <div class="uppercase text-red-600 text-center mb-2 font-[500] whitespace-pre-line">CÔNG TY TNHH DỊCH VỤ QUẢN LÝ TÒA NHÀ &#10;&#13; HTC SÀI GÒN</div>
            <div class="text-center text-[12px]">
              <span>Website: <a class="underline text-blue-700" href="http://htcsaigon.com/" target="_blank" rel="noopener noreferrer">www.htcsaigon.com</a></span>
              <span>-</span>
              <span>Email: <span>info@htcsaigon.com</span></span>
            </div>
          </div>
        </td>
        <td class="border border-solid py-[4px]">
          <div class="uppercase whitespace-pre-line text-center align-middle font-[500] mt-[-4px] text-[15px]">BAN QUẢN LÝ TÒA NHÀ B3 &#10;&#13; CHUNG CƯ HÒA KHÁNH</div>
        </td>
      </tr>
    </table>
    
    <h1 class="uppercase text-[22px] text-center mb-24">THÔNG BÁO PHÍ THÁNG <span class="text-red-600">08/2023</span></h1>

    <table class="table-auto w-full mb-24">
      <tr>
        <td>
          <div><span class="font-[500]">Kính gửi: </span><span>Ông/Bà: </span><span></span></div>
          <div class="mt-[4px]"><span class="font-[500]">Mã căn hộ: </span><span></span></div>
        </td>
        <td class="w-[136px] align-bottom">
          <div class="text-[14px]"><span class="italic">Ngày in: </span><span class="text-red-500">05/08/2023</span></div>
        </td>
      </tr>
    </table>

    <div class="mb-24">Ban quản lý Tòa B3 chung cư Hòa Khánh xin thông báo về các khoản phí cần thanh toán trong tháng như sau:</div>

    <table class="table-auto w-full mb-24 border-collapse border-collapse-table">
        <tr><td colspan="4" class="py-4 px-[10px] border border-solid"><div class="font-[500]">A. PHÍ DỊCH VỤ PHÁT SINH TRONG THÁNG</div></td></tr>
        <tr class="">
          <td class="p-4 border border-solid w-[22px] text-center">1</td>
          <td class="p-4 border border-solid w-[200px]"><span class="font-[500]">Phí quản lý</span></td>
          <td class="border border-solid">
            <table class="table-auto w-full border-collapse border-hidden">
              <tr>
                <td class="p-4 border border-solid text-center"><span class="font-[500]">Diện tích</span><span>(m2)</span></td>
                <td class="p-4 border border-solid text-center w-[146px]"><span class="font-[500]">Đơn giá</span><span>(VNĐ)</span></td>
              </tr>
              <tr>
                <td class="p-4 border border-solid text-center">12,000</td>
                <td class="p-4 border border-solid text-center">9,000</td>
              </tr>
            </table>
          </td>
          <td class="border border-solid w-[156px] align-top">
            <table class="table-auto w-full border-collapse border-hidden">
              <tr><td class="p-4 border border-solid text-center"><span class="font-[500]">Thành tiền</span><span>(VNĐ)</span></td>
              </tr>
              <tr><td class="p-4 border border-solid text-center"></td></tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="p-4 w-[22px] border border-solid text-center">2</td>
          <td class="p-4 w-[200px] border border-solid"><span class="font-[500]">Phí giữ xe</span></td>
          <td class="border border-solid">
            <table class="table-auto w-full border-collapse border-hidden">
              <tr>
                <td class="p-4 border border-solid text-center"><span class="font-[500]">Loại xe</span></td>
                <td class="p-4 border border-solid text-center"><span class="font-[500]">Số lượng</span></td>
                <td class="p-4 border border-solid text-center w-[146px]"><span class="font-[500]">Đơn giá</span><span>(VNĐ)</span></td>
              </tr>
              <tr>
                <td class="p-4 border border-solid text-center">Xe máy</td>
                <td class="p-4 border border-solid text-center"></td>
                <td class="p-4 border border-solid text-center">22,000</td>
              </tr>
            </table>
          </td>
          <td class="border border-solid w-[156px] align-top">
            <table class="table-auto w-full border-collapse border-hidden">
              <tr><td class="p-4 border border-solid text-center"><span class="font-[500]">Thành tiền</span><span>(VNĐ)</span></td>
              </tr>
              <tr><td class="p-4 border border-solid text-center"></td></tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="p-4 border border-solid w-[22px] text-center">3</td>
          <td class="px-4 py-5 border border-solid w-[200px]"><span class="font-[500]">Phí thu gom rác</span></td>
          <td class="p-4 border border-solid"></td>
          <td class="p-4 border border-solid w-[156px]"></td>
        </tr>
        <tr>
          <td class="p-4 border border-solid w-[22px] text-center"></td>
          <td class="p-4 border border-solid w-[200px]" colspan="2"><span class="font-[500]">TỔNG CỘNG A = (1) + (2) + (3)</span>
          </td>
          <td class="p-4 border border-solid"></td>
        </tr>

        <tr><td colspan="3" class="py-4 px-[10px] border border-solid"><div class="font-[500]">B. NỢ KỲ TRƯỚC:</div></td><td class="p-4 border border-solid text-center">0</td></tr>

        <tr><td colspan="3" class="py-4 px-[10px] border border-solid"><div class="font-[500]">C. TỔNG CỘNG SỐ TIỀN THANH TOÁN: C = (A) + (B)</div></td><td class="p-4 border border-solid text-center">0</td></tr>
    </table>

    <div class="">
      <div class="mb-4">Phương thức thanh toán:</div>
      <div class="mb-8">
        <div class="mb-2"> - Quý cư dân vui lòng thanh toán tiền mặt: Văn phòng Ban quản lý tại tầng 1 của Tòa B3 - chung cư Hòa Khánh</div>
        <div class="mb-2"> - Hoặc chuyển khoản theo thông tin sau/Hoặc quét mã QR ở góc trái thông báo phí:</div>
      </div>
      <table class="table-auto w-full mb-24 border-collapse border-collapse-table">
        <tr><td class="p-4 border border-solid"><span class="font-[500]">- Tên tài khoản:</span>
        </td><td class="p-4 border border-solid text-center"><span class="font-[500]">HTC SÀI GÒN</span></td></tr>
        <tr><td class="p-4 border border-solid"><span class="font-[500]">- Số tài khoản:</span>
        </td><td class="p-4 border border-solid text-center"><span class="font-[500]">0000833133606 - Ngân hàng Quân Đội (MB)</span></td></tr>
        <tr><td class="p-4 border border-solid"><span class="font-[500]">- Nội dung chuyển khoản:</span>
        </td><td class="p-4 border border-solid text-center text-[15px]">Lô, mã căn hộ, PQL tháng... (Ví dụ: A_0101_PQL_T06_2023)</td></tr>
      </table>
    </div>

    <div class="mb-8">
      <div class="mb-3 leading-tight">*** Thông báo sẽ được phát hành vào ngày 05 hàng tháng. Quý cư dân vui lòng nhận, kiểm tra và thanh toán phí trong vòng 15 ngày kể từ ngày nhận thông báo này. Sau 15 ngày kể từ ngày thông báo, Ban quản lý Chung cư sẽ phát hành thông báo thanh toán phí (lần 2). Vào ngày cuối cùng của tháng, Ban quản lý buộc phải tạm ngừng cung cấp dịch vụ điện, nước theo quy định đối với những căn hộ chưa thanh toán các khoản phí trên.</div>
      <div class="mb-3">*** Các căn hộ không có nhu cầu gửi xe tháng vui lòng báo hủy trước ngày 05 hàng tháng.</div>
      <div class="mb-3">*** Nếu quý cư dân đã hoàn tất việc thanh toán vui lòng bỏ qua thông báo này.</div>
      <div class="mb-3">*** Mọi sai sót, quý cư dân vui lòng liên hệ hotline Ban Quản Lý để được hỗ trợ kịp thời.</div>
    </div>

    <div class="mb-24">
      HTC Sài Gòn xin trân trọng kính chào và cảm ơn Quý cư dân!
    </div>

    <table class="table-auto w-full mb-[48px]">
      <tr>
        <td>
          <div class="underline font-[500] mb-10">Mã QR thanh toán:</div>
          <img src="images/qr.png" height="144" alt="Logo" />
        </td>
        <td class="float-right">
          <div class="font-[500] text-center">TM. BAN QUẢN LÝ TÒA B3</div>
          <div class="font-[500] text-center mb-[120px]">TRƯỞNG BAN</div>
          <div class="font-[500] text-center">NGUYỄN VĂN HIỂN</div>
        </td>
      </tr>
    </table>


  </block>
</extends>
