---
title: "THÔNG BÁO THU PHÍ"
language: vi
bodyClass: bg-white m-0
class: w-[850px] mx-auto bg-white p-24 font-sans text-[16px] box-border
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="table-auto w-full mb-24 border-collapse border-collapse-table">
      <tr>
        <td class="border border-solid w-[120px]"><div class=""><img src="images/htc-logo.jpeg" height="64" alt="Logo" /></div></td>
        <td class="py-[4px] border border-solid">
            <div class="uppercase text-red-600 text-center mb-2 font-[600] whitespace-pre-line">CÔNG TY TNHH DỊCH VỤ QUẢN LÝ TÒA NHÀ HTC SÀI GÒN</div>
            <div class="text-center text-[12px]">
              <span>Tel: <a class="no-underline text-blue-700" href="tel:0345014300">0345.014.300</a>;</span>
              <span>Email: <span>bqlnt01@gmail.com</span></span>
            </div>
            <div class="text-center text-[12px]">
              <span>Website: <a class="no-underline text-blue-700" href="http://htcsaigon.com/" target="_blank" rel="noopener noreferrer">www.htcsaigon.com</a></span>
            </div>
          </div>
        </td>
        <td class="py-[4px] border border-solid w-[200px]">
          <div class="uppercase whitespace-pre-line text-center align-middle font-[600] mt-[-4px] text-[15px]">BAN QUẢN LÝ CỤM NHÀ CHUNG CƯ NƠXH-01</div>
        </td>
      </tr>
    </table>
    
    <h1 class="uppercase text-[22px] text-center mb-24">THÔNG BÁO PHÍ THÁNG <span class="text-red-600">08.2023</span></h1>

    <table class="table-auto w-full mb-24">
      <tr>
        <td>
          <div><span class="font-[600]">Kính gửi: </span><span>Ông/Bà: </span><span></span></div>
          <div class="mt-[4px]"><span class="font-[600]">Mã căn hộ: </span><span></span></div>
        </td>
        <td class="w-[136px] align-bottom">
          <div class="text-[14px] italic"><span>Ngày in: </span><span>03/06/2023</span></div>
        </td>
      </tr>
    </table>

    <div class="mb-24">Ban quản lý cụm nhà chung cư NƠXH-01 xin thông báo về các khoản phí cần thanh toán trong tháng 07.2023 như sau:</div>

    <table class="table-auto w-full mb-24 border-collapse border-collapse-table">
        <tr><td colspan="4" class="py-4 px-[10px] border border-solid"><div class="font-[600]">A. PHÍ DỊCH VỤ PHÁT SINH TRONG THÁNG</div></td></tr>
        <tr class="">
          <td class="p-4 border border-solid w-[22px] text-center">1</td>
          <td class="border border-solid">
            <table class="table-auto w-full border-collapse border-hidden">
              <tr>
                <td class="p-4 border border-solid w-[212px]">
                  <div class="font-[600]">Phí quản lý</div>
                  <div class="text-[14px]">(từ 01/06/2023 đến 30/06/2023)</div>
                </td>
                <td class="border border-solid">
                  <table class="table-auto w-full border-collapse border-hidden">
                    <tr>
                      <td class="p-4 border border-solid text-center w-[145px]"><span class="font-[600]">Số sử dụng</span></td>
                      <td class="p-4 border border-solid text-center"><span class="font-[600]">Đơn giá</span><span>(VNĐ)</span></td>
                      <td class="p-4 border border-solid text-center w-[164px]"><span class="font-[600]">Thành tiền</span><span>(VNĐ)</span></td>
                    </tr>
                    <tr>
                      <td class="p-4 border border-solid text-center">84</td>
                      <td class="p-4 border border-solid text-center">4,400</td>
                      <td class="p-4 border border-solid text-center"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="">
          <td class="p-4 border border-solid w-[22px] text-center">2</td>
          <td class="border border-solid">
            <table class="table-auto w-full border-collapse border-hidden">
              <tr>
                <td class="p-4 border border-solid w-[212px]">
                  <div class="font-[600]">Nước</div>
                  <div class="text-[14px]">(từ 01/05/2023 đến 31/05/2023)</div>
                </td>
                <td class="border border-solid" colspan="6">
                  <table class="table-auto w-full border-collapse border-hidden">
                    <tr>
                      <td class="p-4 border border-solid text-center w-[68px]"><span class="font-[600] whitespace-pre-line">Chỉ số cũ</span></td>
                      <td class="p-4 border border-solid text-center w-[68px]"><span class="font-[600] whitespace-pre-line">Chỉ số mới</span></td>
                      <td class="p-4 border border-solid text-center w-[68px]"><div class="px-4 text-center font-[600] whitespace-pre-line">Tiêu thụ</div></td>
                      <td class="p-4 border border-solid text-center w-[48px]"><span class="font-[600] whitespace-pre-line">ĐVT</span></td>
                      <td class="p-4 border border-solid text-center"><div class="font-[600]">Đơn giá</div><div class="italic">(VNĐ/m3)</div></td>
                      <td class="p-4 border border-solid text-center w-[164px]"><span class="font-[600]">Thành tiền</span><span>(VNĐ)</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-4 border border-solid text-center">1,253</td>
                      <td class="p-4 border border-solid text-center">1,275</td>
                      <td class="p-4 border border-solid text-center">22</td>
                      <td class="p-4 border border-solid text-center">m3</td>
                      <td class="p-4 border border-solid text-center"></td>
                      <td class="p-4 border border-solid text-center font-[600]">213,488</td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="p-4 border border-solid text-left font-[600]">Sinh hoạt 1</td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[48px]">m3</td>
                <td class="p-4 border border-solid text-center">9,704</td>
                <td class="p-4 border border-solid text-center w-[164px]">213,488</td>
              </tr>
              <tr>
                <td class="p-4 border border-solid text-left font-[600]">Sinh hoạt 2</td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[68px]">0</td>
                <td class="p-4 border border-solid text-center w-[48px]">m3</td>
                <td class="p-4 border border-solid text-center">17,990</td>
                <td class="p-4 border border-solid text-center w-[164px]"></td>
              </tr>
              <tr>
                <td class="p-4 border border-solid text-left font-[600]">Sinh hoạt 3</td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[48px]"></td>
                <td class="p-4 border border-solid text-center"></td>
                <td class="p-4 border border-solid text-center w-[164px]"></td>
              </tr>
              <tr>
                <td class="p-4 border border-solid text-left font-[600]">Sinh hoạt 4</td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[48px]"></td>
                <td class="p-4 border border-solid text-center"></td>
                <td class="p-4 border border-solid text-center w-[164px]"></td>
              </tr>
              <tr>
                <td class="p-4 border border-solid text-left font-[600]">Kinh doanh</td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[68px]">0</td>
                <td class="p-4 border border-solid text-center w-[48px]">m3</td>
                <td class="p-4 border border-solid text-center">19,995</td>
                <td class="p-4 border border-solid text-center w-[164px]"></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="">
          <td class="p-4 border border-solid w-[22px] text-center">3</td>
          <td class="border border-solid">
            <table class="table-auto w-full border-collapse border-hidden">
              <tr>
                <td class="p-4 border border-solid w-[212px]">
                  <div class="font-[600]">Tiền xe</div>
                  <div class="text-[14px]">(từ 01/06/2023 đến 30/06/2023)</div>
                </td>
                <td class="border border-solid" colspan="4">
                  <table class="table-auto w-full border-collapse border-hidden">
                    <tr>
                      <td class="p-4 border border-solid text-center w-[68px] font-[600]">Loại xe</td>
                      <td class="p-4 border border-solid text-center w-[145px]">Số lượng</td>
                      <td class="p-4 border border-solid text-center"><span class="font-[600]">Đơn giá</span><span>(VNĐ)</span></td>
                      <td class="p-4 border border-solid text-center w-[164px]"><span class="font-[600]">Thành tiền</span><span>(VNĐ)</span></td>
                    </tr>
                    <tr>
                      <td class="p-4 border border-solid text-center">Xe máy</td>
                      <td class="p-4 border border-solid text-center"></td>
                      <td class="p-4 border border-solid text-center">20,000</td>
                      <td class="p-4 border border-solid text-center"></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="p-4 border border-solid w-[212px]">-</td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[145px]"></td>
                <td class="p-4 border border-solid text-center"></td>
                <td class="p-4 border border-solid text-center w-[164px]"></td>
              </tr>
              <tr>
                <td class="p-4 border border-solid w-[212px]">-</td>
                <td class="p-4 border border-solid text-center w-[68px]"></td>
                <td class="p-4 border border-solid text-center w-[145px]"></td>
                <td class="p-4 border border-solid text-center"></td>
                <td class="p-4 border border-solid text-center w-[164px]"></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td class="p-4 border border-solid w-[22px] text-center"></td>
          <td class="border border-solid">
            <table class="table-auto w-full border-collapse border-hidden">
              <tr>
                <td class="p-4 border border-solid"><span class="font-[600]">TỔNG CỘNG A = (1) + (2) + (3)</span>
                </td>
                <td class="p-4 border border-solid text-center w-[164px] font-[600]">213,488</td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td class="p-4 border border-solid w-[22px] text-center font-[600]">B.</td>
          <td class="border border-solid">
            <table class="table-auto w-full border-collapse border-hidden">
              <tr>
                <td class="p-4 border border-solid"><span class="font-[600]">NỢ KỲ TRƯỚC:</span>
                </td>
                <td class="p-4 border border-solid text-center w-[164px] font-[600]"></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td class="p-4 border border-solid w-[22px] text-center font-[600]">C.</td>
          <td class="border border-solid">
            <table class="table-auto w-full border-collapse border-hidden">
              <tr>
                <td class="p-4 border border-solid"><span class="font-[600]">TỔNG CỘNG SỐ TIỀN THANH TOÁN: C = (A) + (B)</span>
                </td>
                <td class="p-4 border border-solid text-center w-[164px] font-[600]">213,488</td>
              </tr>
            </table>
          </td>
        </tr>
    </table>

    <div class="">
      <div class="mb-8">
        <div class="mb-2">Quý cư dân vui lòng thanh toán tiền mặt tại văn phòng BQL tầng G, hoặc chuyển khoản theo thông tin:</div>
      </div>
      <table class="table-auto w-full mb-8 border-collapse border-collapse-table">
        <tr><td class="p-4 border border-solid"><span class="font-[600]">- Tên tài khoản:</span>
        </td><td class="p-4 border border-solid text-center"><span class="font-[600]">HTC BÌNH KHÁNH</span></td></tr>
        <tr><td class="p-4 border border-solid"><span class="font-[600]">- Số tài khoản:</span>
        </td><td class="p-4 border border-solid text-center"><span class="font-[600]">8899916 – Ngân hàng Đông Nam Á (SEABANK) – chi nhánh Tân Phú</span></td></tr>
        <tr><td class="p-4 border border-solid"><span class="font-[600]">- Nội dung chuyển khoản:</span>
        </td><td class="p-4 border border-solid text-center text-[15px]">Lô, mã căn hộ, PQL tháng... (Ví dụ: A_0101_PQL_T06_2023)</td></tr>
      </table>
    </div>

    <div class="mb-8">
      <div class="mb-3 leading-tight">Quý cư dân vui lòng thanh toán trước ngày <b>16</b> hàng tháng. Ngày 17 đến 20 hàng tháng BQL sẽ gửi giấy nhắc nợ những căn hộ chưa thanh toán.</div>
    </div>

    <div class="mb-24">
      Xin trân trọng cảm ơn.
    </div>

    <table class="table-auto w-full mb-[48px]">
      <tr>
        <td class="float-right">
          <div class="font-[600] text-center">TM. BAN QUẢN LÝ TÒA NHÀ</div>
          <div class="font-[600] text-center mb-[80px]"></div>
        </td>
      </tr>
    </table>


  </block>
</extends>
