---
title: "THÔNG BÁO THU PHÍ"
language: vi
bodyClass: bg-white m-0
class: w-[735px] mx-auto bg-white p-24 font-sans text-[14px] box-border
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="table-auto w-full mb-24">
      <tr>
        <td class="w-[144px]">
          <div class="">
            <img src="images/hub-logo.png" height="64" alt="Logo" />
          </div>
        </td>
        <td class="py-[4px] text-right font-[600]">
          <div>CÔNG TY CỔ PHẦN HUDLAND THƯƠNG MẠI VÀ DỊCH VỤ</div>
          <div>BAN QUẢN LÝ CỤM NHÀ CHUNG CƯ CT17 VIỆT HƯNG</div>
        </td>
      </tr>
    </table>
    <h1 class="uppercase text-[22px] text-center mb-32">THÔNG BÁO THU PHÍ</h1>
    <table class="table-auto w-full mb-12">
      <tr>
        <td>
          <span class="mr-4">Ngày phát hành:</span><span>03/07/2023</span>
        </td>
        <td><span class="mr-4">Lần phát hành:</span><span>01</span></td>
      </tr>
      <tr>
        <td>
          <span class="mr-4">Khách hàng:</span
          ><span class="font-[600]">Nguyen Van A</span>
        </td>
        <td><span class="mr-4">Mã căn hộ:</span><span>GH5.201</span></td>
      </tr>
      <tr>
        <td><span class="mr-4">Mã số thuế:</span><span></span></td>
        <td><span class="mr-4">Diện tích:</span><span>50 m2</span></td>
      </tr>
    </table>
    <div class="text-justify mb-4">
      <span class="ml-24"
        >Công ty Cổ phần HUDLAND Thương mại và Dịch vụ xin thông báo để Quý
        khách hàng được biết, tính đến ngày 31 tháng 07 năm 2023,</span
      >
      <span class="text-red-600"
        >Quý khách hàng có các khoản phí đến hạn cần phải thanh toán như
        sau:</span
      >
    </div>
    <table class="table-auto w-full border-collapse border-collapse-table mb-6">
      <thead>
        <tr>
          <th class="p-4 border border-solid text-center bg-red-100 w-[32px]">
            STT
          </th>
          <th class="p-6 border border-solid text-center bg-red-100">
            Nội dung
          </th>
          <th class="p-6 border border-solid text-center bg-red-100 w-[80px]">
            Số lượng
          </th>
          <th class="p-6 border border-solid text-center bg-red-100 w-[100px]">
            Đơn giá
          </th>
          <th class="p-6 border border-solid text-center bg-red-100 w-[100px]">
            Thành tiền
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-6 border border-solid text-center font-[500]">1</td>
          <td class="p-6 border border-solid font-[600]">
            Nợ kỳ trước chưa thanh toán
          </td>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center font-[500]">
            5.000.000
          </td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[500]">2</td>
          <td class="p-6 border border-solid">
            <div class="font-[600]">Phí dịch vụ</div>
            <div class="italic text-[13px]">
              (Từ ngày 01/07/2023 đến 31/07/2023)
            </div>
          </td>
          <td class="p-6 border border-solid text-center">50m2</td>
          <td class="p-6 border border-solid text-center">5.400</td>
          <td class="p-6 border border-solid text-center font-[500]">
            270.000
          </td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[500]">3</td>
          <td class="p-6 border border-solid">
            <div class="font-[600]">
              Phí sử dụng nước từ ngày 01/07/2023 đến 31/07/2023
            </div>
            <div class="text-[13px]">
              (đã bao gồm 5% thuế GTGT và 10% phí môi trường)
            </div>
          </td>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid">Chỉ số đầu</td>
          <td class="p-6 border border-solid text-center">890</td>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center font-[500]"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid">Chỉ số cuối</td>
          <td class="p-6 border border-solid text-center">899</td>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center font-[500]"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid">
            Sản lượng tiêu thụ trong tháng
          </td>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 pl-8 border border-solid">- 10m3 đầu tiên</td>
          <td class="p-6 border border-solid text-center">9</td>
          <td class="p-6 border border-solid text-center">8.625</td>
          <td class="p-6 border border-solid text-center">77.625</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 pl-8 border border-solid">- Từ 11m3 đến 20m3</td>
          <td class="p-6 border border-solid text-center">0</td>
          <td class="p-6 border border-solid text-center">10.120</td>
          <td class="p-6 border border-solid text-center">0</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 pl-8 border border-solid">
            - Từ 21m3 đến 30m3 trở đi
          </td>
          <td class="p-6 border border-solid text-center">0</td>
          <td class="p-6 border border-solid text-center">13.800</td>
          <td class="p-6 border border-solid text-center">0</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 pl-8 border border-solid">- Từ 31m3 trở lên</td>
          <td class="p-6 border border-solid text-center">0</td>
          <td class="p-6 border border-solid text-center">27.600</td>
          <td class="p-6 border border-solid text-center">0</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[500]">3</td>
          <td class="p-6 border border-solid">
            <div class="font-[600]">Phí gửi xe</div>
            <div class="text-[13px] italic">(Đã bao gồm GTGT)</div>
          </td>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 pl-8 border border-solid">
            - Phí gửi ô tô bãi 36 chỗ
          </td>
          <td class="p-6 border border-solid text-center">1</td>
          <td class="p-6 border border-solid text-center">900.000</td>
          <td class="p-6 border border-solid text-center">900.000</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 pl-8 border border-solid">
            - Phí gửi ô tô bãi sân tennis
          </td>
          <td class="p-6 border border-solid text-center">1</td>
          <td class="p-6 border border-solid text-center">1.100.000</td>
          <td class="p-6 border border-solid text-center">1.100.000</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="border border-solid">
            <table class="table-auto w-full border-collapse border-hidden whitespace-nowrap">
              <tr>
                <td class="p-6 pl-8 border border-solid w-[161px]">
                  - Phí gửi xe máy số 1
                </td>
                <td class="p-6 pl-8 border border-solid">BKS: 29A-008.86</td>
              </tr>
            </table>
          </td>
          <td class="p-6 border border-solid text-center">1</td>
          <td class="p-6 border border-solid text-center">60.000</td>
          <td class="p-6 border border-solid text-center">60.000</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="border border-solid">
            <table class="table-auto w-full border-collapse border-hidden whitespace-nowrap">
              <tr>
                <td class="p-6 pl-8 border border-solid w-[161px]">
                  - Phí gửi xe máy số 2
                </td>
                <td class="p-6 pl-8 border border-solid">BKS: 29A-162.72</td>
              </tr>
            </table>
          </td>
          <td class="p-6 border border-solid text-center">1</td>
          <td class="p-6 border border-solid text-center">60.000</td>
          <td class="p-6 border border-solid text-center">60.000</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="border border-solid">
            <table class="table-auto w-full border-collapse border-hidden whitespace-nowrap">
              <tr>
                <td class="p-6 pl-8 border border-solid w-[161px]">
                  - Phí gửi xe máy số 3
                </td>
                <td class="p-6 pl-8 border border-solid">BKS: 29C-111.61</td>
              </tr>
            </table>
          </td>
          <td class="p-6 border border-solid text-center">1</td>
          <td class="p-6 border border-solid text-center">90.000</td>
          <td class="p-6 border border-solid text-center">90.000</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 pl-8 border border-solid">- Phí gửi xe đạp số 1</td>
          <td class="p-6 border border-solid text-center">1</td>
          <td class="p-6 border border-solid text-center">30.000</td>
          <td class="p-6 border border-solid text-center">30.000</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 pl-8 border border-solid">
            - Phí gửi xe đạp (từ 2 xe trở lên)
          </td>
          <td class="p-6 border border-solid text-center">1</td>
          <td class="p-6 border border-solid text-center">60.000</td>
          <td class="p-6 border border-solid text-center">60.000</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center font-[500]">4</td>
          <td class="p-6 border border-solid font-[600]">Các khoản phí khác</td>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 pl-8 border border-solid">
            - Kinh phí HĐ BQT tháng 7/2023
          </td>
          <td class="p-6 border border-solid text-center">50m2</td>
          <td class="p-6 border border-solid text-center">300</td>
          <td class="p-6 border border-solid text-center">15.000</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-right font-[600]" colspan="3">
            Tổng số tiền cho các khoản phí (1+2+3+4+5)
          </td>
          <td class="p-6 border border-solid text-center font-[500]">
            7.647.625
          </td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-right font-[600]" colspan="3">
            Số tiền đã thanh toán trước
          </td>
          <td class="p-6 border border-solid text-center">0</td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-right font-[600]" colspan="3">
            Số tiền phải thanh toán
          </td>
          <td class="p-6 border border-solid text-center font-[500]">
            7.647.625
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mb-12 indent-[24px]">
      Ban quản lý thông báo tới chủ căn hộ 201.GH5 thanh toán khoản phí nói trên
      cho Công ty Cổ phần HUDLAND Thương mại và Dịch vụ trước ngày 25/07/2023.
    </div>
    <div class="mb-6 indent-[24px]">
      Tiền phí có thể thanh toán bằng tiền mặt hoặc chuyển khoản, chi tiết như
      sau:
    </div>
    <table
      class="table-auto w-full border-collapse border-collapse-table mb-12"
    >
      <tr>
        <td class="p-6 border border-solid font-[600] w-[112px]">TIỀN MẶT</td>
        <td class="p-6 border border-solid">
          Nộp trực tiếp BP DVKH – Tầng 1, Tòa Nhà GH4
        </td>
      </tr>
      <tr>
        <td
          class="p-6 border border-solid font-[600] border-r-transparent"
        ></td>
        <td class="p-6 border border-solid font-[600]">CHUYỂN KHOẢN</td>
      </tr>
      <tr>
        <td class="p-6 border border-solid">
          <img src="images/qr.png" alt="Logo" width="112" height="112" />
        </td>
        <td class="p-0 border border-solid">
          <div class="p-6 border-0 border-b border-dotted">
            <span class="mr-4">Tên đơn vị thụ hưởng:</span
            ><span class="font-[600] italic"
              >Công ty Cổ phần Hudland Thương mại và Dịch vụ</span
            >
          </div>
          <div class="p-6 border-0 border-b border-dotted">
            <span class="mr-4 inline-block w-[140px]">Số TK:</span
            ><span class="font-[600] italic">1511 0000 164535</span>
          </div>
          <div class="p-6 border-0 border-b border-dotted">
            <span class="mr-4 inline-block w-[140px]">Ngân hàng:</span
            ><span class="font-[600] italic">BIDV chi nhánh Thành Đô</span>
          </div>
          <div class="p-6">
            <span class="mr-4 inline-block w-[140px]">Nội dung:</span
            ><span class="font-[600] italic"
              >Ghi rõ tên, địa chỉ người nộp phí và loại phí</span
            >
          </div>
        </td>
      </tr>
    </table>
    <div class="mb-6 indent-[24px]">
      Sau thời hạn đã thông báo, chủ căn hộ 201.GH5 không thực hiện việc thanh
      toán phí nói trên thì Công ty Cổ phần HUDLAND Thương mại và Dịch vụ sẽ
      tiến hành dừng cung cấp dịch vụ cho đến khi chủ căn hộ thực hiện thanh
      toán khoản phí nói trên.
    </div>
    <div class="mb-6 indent-[24px]">
      Quý khách đã thanh toán vui lòng bỏ qua thông báo này.
    </div>
    <div class="mb-24 indent-[24px]">
      <span class="italic">
        Mọi sự đóng góp ý kiến của quý cư dân xin liên hệ tới phòng dịch vụ
        khách hàng tại tầng 1 tòa nhà GH4 hoặc liên hệ qua số điện thoại:
      </span>
      <span class="font-[600]">0243 657 4833/ 0243 657 4832</span>
      hoặc hotline
      <span class="font-[600]">0981 773 330. </span>
    </div>
    <div class="indent-[24px] font-[600]">Trân trọng thông báo!</div>
    <div class="float-right pr-[48px] mb-[48px]">
      <div class="font-[600] text-center text-[15px]">TM. BAN QUẢN LÝ CT17</div>
      <div class="font-[600] text-center mb-[120px] text-[15px]">
        Trưởng ban
      </div>
      <div class="font-[600] text-center text-[16px]">Nguyễn Văn Nam</div>
    </div>
  </block>
</extends>
