---
title: "THÔNG BÁO THU PHÍ"
language: vi
bodyClass: bg-white m-0
class: w-[760px] mx-auto bg-white p-24 font-sans text-[16px] box-border
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full table-auto">
      <tr>
        <td colspan="3" class="text-right font-[600] pb-24">
          CÔNG TY CỔ PHẦN HUDLAND THƯƠNG MẠI VÀ DỊCH VỤ
        </td>
      </tr>
      <tr>
        <td class="w-[160px]">
          <div class="w-[160px] h-[24px]">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/storeage-9a11b.appspot.com/o/daudo.png?alt=media&token=f7b2c8b1-1fd7-45dc-b177-3013a6579b2e"
              alt="er"
              class="w-[180px] h-[180px]"
            />
          </div>
        </td>
        <td colspan="2" class="text-right font-[600] underline pb-24">
          BAN QUẢN LÝ CT17 & PALM
        </td>
      </tr>
      <tr>
        <td class="w-[160px]"></td>
        <td class="text-[14px] text-right">
          <span class="mr-[6px]">Điện thoại:</span
          ><span class="font-[600]">0981 773 330 / 0981 773331</span>
        </td>
        <td class="text-[14px] text-right">
          <span class="mr-[6px]">Email:</span
          ><span class="">banquanlyct17.hho5@gmail.com</span>
        </td>
      </tr>
    </table>

    <div class="h-2 bg-black w-full mt-[24px] mb-[16px]"></div>

    <div class="mb-24">
      <table class="ml-auto w-full table-auto">
        <tr>
          <td class="uppercase font-[600] py-6 pl-[120px] text-center">
            Phiếu thu
          </td>
          <td class="font-[600] py-6 w-[240px]">Liên 1: Lưu</td>
        </tr>
        <tr>
          <td class="py-6 pl-[120px] text-center">Ngày 3 tháng 8 năm 2023</td>
          <td class="font-[600] py-6">Số phiếu: CK2023/08/00029</td>
        </tr>
        <tr>
          <td class="py-6"></td>
          <td class="font-[600] py-6">Số phòng/số kiot: 1305.GH5</td>
        </tr>
        <tr>
          <td class="py-6">Tên khách hàng: Bùi Thị Thu Hằng</td>
          <td class="font-[600] py-6">Đơn vị tính: đồng</td>
        </tr>
      </table>
    </div>

    <div class="font-[600] mb-12">I. Phí quản lý</div>
    <table
      class="w-full table-auto border-collapse border-collapse-table mb-20"
    >
      <thead>
        <tr>
          <th class="w-[32px] py-10 px-6 border border-solid text-center">STT</th>
          <th class="py-10 px-6 border border-solid text-center">Diện tích</th>
          <th class="py-10 px-6 border border-solid text-center">ĐVT</th>
          <th class="py-10 px-6 border border-solid text-center">Diễn giải</th>
          <th class="w-[72px] py-10 px-6 border border-solid text-right">Số tháng</th>
          <th class="py-10 px-6 border border-solid text-center">Đơn giá</th>
          <th class="w-[120px] py-10 px-6 border border-solid text-center">Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="w-[32px] p-6 border border-solid text-center">1</td>
          <td class="p-6 border border-solid text-center">71,95</td>
          <td class="p-6 border border-solid text-left">m2</td>
          <td class="p-6 border border-solid text-center">Phí quản lý T08/2023</td>
          <td class="p-6 border border-solid text-right">1</td>
          <td class="p-6 border border-solid text-center">6.300</td>
          <td class="p-6 border border-solid text-right">453.285</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="font-[600] text-center p-6 border border-solid">
            Tổng tiền phí quản lý
          </td>
          <td class="font-[600] text-right p-6 border border-solid">453.285</td>
        </tr>
      </tfoot>
    </table>

    <div class="font-[600] mb-12">II. Phí giữ xe</div>
    <table
      class="w-full table-auto border-collapse border-collapse-table mb-20"
    >
      <thead>
        <tr>
          <th class="w-[32px] py-8 px-6 border border-solid text-center">STT</th>
          <th class="py-8 px-6 border border-solid text-center">Loại xe</th>
          <th class="py-8 px-6 border border-solid text-center">Biển số</th>
          <th class="py-8 px-6 border border-solid text-center">Diễn giải</th>
          <th class="w-[72px] py-8 px-6 border border-solid text-right">Số tháng</th>
          <th class="py-8 px-6 border border-solid text-center">Đơn giá</th>
          <th class="w-[120px] py-8 px-6 border border-solid text-center">Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="w-[32px] p-6 border border-solid text-center">1</td>
          <td class="p-6 border border-solid text-left">Xe máy</td>
          <td class="p-6 border border-solid text-left">29K1-734.58</td>
          <td class="p-6 border border-solid text-left">Phí xe T08/2023</td>
          <td class="p-6 border border-solid text-right">1</td>
          <td class="p-6 border border-solid text-right">58.909</td>
          <td class="p-6 border border-solid text-right">58.909</td>
        </tr>
        <tr>
          <td class="w-[32px] p-6 border border-solid text-center">2</td>
          <td class="p-6 border border-solid text-left">Ôtô bãi 36</td>
          <td class="p-6 border border-solid text-left">99A-155.53</td>
          <td class="p-6 border border-solid text-left">Phí xe T08/2023</td>
          <td class="p-6 border border-solid text-right">1</td>
          <td class="p-6 border border-solid text-right">785.455</td>
          <td class="p-6 border border-solid text-right">785.455</td>
        </tr>
        <tr>
          <td class="w-[32px] p-6 border border-solid text-center">3</td>
          <td class="p-6 border border-solid text-left">Ôtô tennis</td>
          <td class="p-6 border border-solid text-left">30K-088.54</td>
          <td class="p-6 border border-solid text-left">Phí xe T08/2023</td>
          <td class="p-6 border border-solid text-right">1</td>
          <td class="p-6 border border-solid text-right">1.276.364</td>
          <td class="p-6 border border-solid text-right">1.276.364</td>
        </tr>
        <tr>
          <td class="w-[32px] p-6 border border-solid text-center">4</td>
          <td class="p-6 border border-solid text-left">Xe đạp</td>
          <td class="p-6 border border-solid text-left">XĐT.1305.GH5</td>
          <td class="p-6 border border-solid text-left">Phí xe T08/2023</td>
          <td class="p-6 border border-solid text-right">1</td>
          <td class="p-6 border border-solid text-right">29.455</td>
          <td class="p-6 border border-solid text-right">29.455</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="font-[600] text-center p-6 border border-solid">
            Tổng phí giữ xe
          </td>
          <td class="font-[600] text-right p-6 border border-solid">2,150,183</td>
        </tr>
      </tfoot>
    </table>

    <div class="font-[600] mb-12">III. Phí nước</div>
    <table
      class="w-full table-auto border-collapse border-collapse-table mb-20"
    >
      <thead>
        <tr>
          <th class="w-[32px] py-10 px-6 border border-solid text-center">STT</th>
          <th class="py-10 px-6 border border-solid text-center">Nội dung</th>
          <th class="w-[120px] py-10 px-6 border border-solid text-center">Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="w-[32px] p-6 border border-solid text-center">1</td>
          <td class="p-6 border border-solid text-left">Phí nước tháng 6/2023</td>
          <td class="p-6 border border-solid text-right">341.073</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="font-[600] text-center p-6 border border-solid">Tổng tiền nước</td>
          <td class="font-[600] text-right p-6 border border-solid">341.073</td>
        </tr>
      </tfoot>
    </table>

    <div class="font-[600] mt-24 mb-12">Tổng tiền: 2.944.541</div>
    <div class="font-[600] mb-12">
      Bằng chữ: Hai triệu, chín trăm bốn mươi bốn nghìn, năm trăm bốn mươi mốt
      đồng
    </div>

    <table class="w-full mt-[36px] mb-[120px]">
      <tr>
        <td class="text-center uppercase font-[600]">Người thu tiền</td>
        <td class="text-center uppercase font-[600]">Người nộp tiền</td>
      </tr>
    </table>

    <div class="h-2 bg-black w-full mt-[24px] mb-[16px]"></div>
    <div class="mb-24">
      <div class="italic">
        <span>ID NO:</span>
        <span>0882/2023/HUDLANDTS/CT17.</span>
        <span>Số TK:</span>
        <span>1511 0000 164 535.</span>
        <span>Ngân hàng:</span>
        <span>BIDV chi nhánh Thành Đô.</span>
      </div>
      <div class="italic">
        Biên lai này chỉ dùng để thu các khoản thu theo quy định của HUDLANDTS
        tại dự án Green House
      </div>
      <div class="italic">Không có giá trị trong trường hợp khác</div>
    </div>
  </block>
</extends>
