---
title: "DANH SÁCH CÁC TEMPLATE"
language: vi
bodyClass: bg-white m-0
class: w-[600px] mx-auto bg-white font-sans py-6 text-[16px] box-border
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full table-auto mb-24 border-collapse">
      <tr>
        <td class="p-6 border border-solid w-[300px]">
          <a
            href="/cir.html"
            class="no-underline"
          >
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713320618/_demo/email-templates/ba8ffe17-c807-4bfe-8e60-3856cc754780.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              CTy CP Tư Vấn Đầu Tư CIR Việt Nam
            </h3>
          </a>
        </td>
        <td class="p-6 border border-solid w-[300px]">
          <a
            href="/ct1-a10.html"
            class="no-underline"
          >
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713320645/_demo/email-templates/07ba7c4e-f0e6-4cc1-a1c3-c1e727690d1b.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              BQL TÒA NHÀ CT1 - A10 NAM TRUNG YÊN
            </h3>
          </a>
        </td>
      </tr>

      <tr>
        <td class="p-6 border border-solid w-[300px]">
          <a
            href="/ct2b.html"
            class="no-underline"
          >
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713320698/_demo/email-templates/d3c8b001-f07d-4cec-9d75-f033941459d3.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">Gelexia CT2B</h3>
          </a>
        </td>
        <td class="p-6 border border-solid w-[300px]">
          <a
            href="/hiyori.html"
            class="no-underline"
          >
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713320722/_demo/email-templates/ac116f87-1edc-4f1a-a336-e104eb4e2476.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">HIYORI</h3>
          </a>
        </td>
      </tr>

      <tr>
        <td class="p-6 border border-solid w-[300px]">
          <a
            href="/htc.html"
            class="no-underline"
          >
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713320966/_demo/email-templates/5e7e10e4-2a93-4edc-9a52-222f7a74182f.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">HTC 01</h3>
          </a>
        </td>
        <td class="p-6 border border-solid w-[300px]">
          <a
            href="/htc2.html"
            class="no-underline"
          >
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713321008/_demo/email-templates/cb3ec21f-d889-44ab-8f01-72c02445aad1.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">HTC 02</h3>
          </a>
        </td>
      </tr>

      <tr>
        <td class="p-6 border border-solid w-[300px]">
          <a
            href="/hud.html"
            class="no-underline"
          >
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713321084/_demo/email-templates/95dee412-a951-4623-a16a-f3041dceae78.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              CÔNG TY CỔ PHẦN HUDLAND THƯƠNG MẠI VÀ DỊCH VỤ (01)
            </h3>
          </a>
        </td>
        <td class="p-6 border border-solid w-[300px]">
          <a
            href="/hud2.html"
            class="no-underline"
          >
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713321140/_demo/email-templates/6818546a-fca1-4ffb-bdf4-18d22608c2af.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              CÔNG TY CỔ PHẦN HUDLAND THƯƠNG MẠI VÀ DỊCH VỤ (02)
            </h3>
          </a>
        </td>
      </tr>

      <tr>
        <td class="p-6 border border-solid w-[300px]">
          <a href="/mhomes.html" class="no-underline">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713321120/_demo/email-templates/8f6ce1c8-1eb1-4c05-a2ac-afc3ae1d0aba.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              CÔNG TY CỔ PHẦN DỊCH VỤ BĐS M.HOMES
            </h3>
          </a>
        </td>
        <td class="p-6 border border-solid w-[300px]">
          <a href="/ncp.html" class="no-underline">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713321686/_demo/email-templates/9bed95bb-1ce9-408c-9e15-174a4e9b6469.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              Công ty TNHH Quản lý và Dịch vụ KĐT Nam Cường
            </h3>
          </a>
        </td>
      </tr>

      <tr>
        <td class="p-6 border border-solid w-[300px]">
          <a href="/thanhbinh11no.html" class="no-underline">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713321723/_demo/email-templates/8bb6ee62-9779-4059-bc62-7c52bdae3347.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              BAN QUẢN LÝ TÒA NHÀ THANH BÌNH 11NO
            </h3>
          </a>
        </td>
        <td class="p-6 border border-solid w-[300px]">
          <a href="/trungdo.html" class="no-underline">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713321730/_demo/email-templates/d81eb360-3c00-4363-8c4c-af56eb8001b4.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              Công ty cổ phần thương mại xây dựng Rồng Việt
            </h3>
          </a>
        </td>
      </tr>

      <tr>
        <td class="p-6 border border-solid w-[300px]">
          <a href="/vina22.html" class="no-underline">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713321760/_demo/email-templates/55225235-8570-4c01-9efd-101de565da90.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              CÔNG TY TNHH ĐẦU TƯ VÀ DỊCH VỤ ĐÔ THỊ VINA2 (01)
            </h3>
          </a>
        </td>
        <td class="p-6 border border-solid w-[300px]">
          <a href="/vina22-2.html" class="no-underline">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713321754/_demo/email-templates/8470f4c5-fb1b-4f3d-a0d0-2f3fec04b18b.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              CÔNG TY TNHH ĐẦU TƯ VÀ DỊCH VỤ ĐÔ THỊ VINA2 (02)
            </h3>
          </a>
        </td>
      </tr>

      <tr>
        <td class="p-6 border border-solid w-[300px]">
          <a href="/vinasinco-1.html" class="no-underline">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713321777/_demo/email-templates/1d1ec6ea-7572-467a-acc9-185a6d1973a1.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              CÔNG TY VINASINCO (01)
            </h3>
          </a>
        </td>
        <td class="p-6 border border-solid w-[300px]">
          <a href="/vinasinco-2.html" class="no-underline">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden">
              <img
                src="https://res.cloudinary.com/ngoviettung154/image/upload/v1713321796/_demo/email-templates/287249f4-94da-410e-ae15-135f4bb5e6fa.png"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="h-full w-full object-cover object-center"
              />
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              CÔNG TY VINASINCO (02)
            </h3>
          </a>
        </td>
      </tr>
    </table>
  </block>
</extends>
