---
title: "THÔNG BÁO THU PHÍ"
language: vi
bodyClass: bg-white m-0
class: w-[800px] mx-auto bg-white p-24 font-sans text-[14px] box-border
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full table-auto mb-12">
      <tr>
        <td class="">
          <div class="w-[80px]">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/storeage-9a11b.appspot.com/o/mhomes%2Flogo-mhomes.jpg?alt=media&token=1fd34643-d1ee-4e83-906c-3ef4dbe6c4a6"
              alt="mhomes"
              height="72"
            />
          </div>
        </td>
        <td class="w-full text-center">
          <div class="uppercase font-[700] mb-8">
            CÔNG TY CỔ PHẦN DỊCH VỤ BĐS M.HOMES
          </div>
          <div class="mb-2 font-[500] text-sm">
            Ban QLTN The Terra-An Hưng, Tầng 4 Tháp V3, Tòa nhà The Terra-An
            Hưng
          </div>
          <div class="mb-6 text-sm font-[500]">
            <div>
              Điện thoại (Phone number): CSKH: 0826.102.103 | Kỹ thuật:
              0836.102.103
            </div>
            <div>Email: bqltn.anhung@mhomesweb.vn</div>
          </div>
        </td>
        <td class="text-right">
          <div class="w-[80px]">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/storeage-9a11b.appspot.com/o/mhomes%2Flogo-the-terra.jpg?alt=media&token=266406d2-e090-498b-af23-3c73d198aa24"
              alt="terra"
              height="80"
            />
          </div>
        </td>
      </tr>
    </table>

    <div class="text-center mb-20">
      <h2 class="uppercase leading-0 mb-[26px]">PHIẾU THÔNG BÁO (Lần 1)</h2>
      <h2 class="uppercase leading-0 mb-[14px] italic">DEBIT NOTE (1)</h2>
      <div class="font-[500]">
        <span>Tháng 11 năm 2023</span>
        <span class="italic">(Payment for Nov 2023)</span>
      </div>
      <div class="font-[500] text-sm">
        <span>Ngày phát hành 06/11/2023</span>
        <span class="italic">(Issue date 6th Nov 2023)</span>
      </div>
    </div>

    <table class="table-auto w-full mb-12 text-sm">
      <tr>
        <td colspan="2" class="pb-6">
          <span class="">
            <span>Kính gửi ông/bà</span>
            <span class="italic">(Sir/Madam)</span>:
          </span>
          <span class="font-[600] text-[15px]">Lorem ipsum dolor sit amet </span>
        </td>
        <td class="text-right pb-6">
          <span class="">
            <span>Căn hộ</span>
            <span class="italic">(Apartment)</span>:
          </span>
          <span class="font-[600]">V1-0601</span>
        </td>
        <td class="text-right pb-6">
          <span class="">
            <span>Vị trí</span>
            <span class="italic">(Block)</span>:
          </span>
          <span class="font-[600]">V1</span>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-[15px]">
          Ban quản lý tòa nhà xin thông báo tới Quý cư dân về các khoản phí dịch
          vụ trong tháng 11/2023 như sau:
        </td>
      </tr>
      <tr>
        <td colspan="4" class="pb-4 text-sm italic">
          (We would like to inform the service charges for Nov 2023 as belows)
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-right text-xs italic">
          Đơn vị tiền tệ (currency unit) VNĐ
        </td>
      </tr>
    </table>

    <table class="table-auto border-collapse w-full mb-16 text-sm">
      <thead>
        <tr>
          <th class="py-6 border border-solid w-[40px]">
            <div>TT</div>
            <div class="italic font-[300]">No</div>
          </th>
          <th class="py-6 border border-solid text-center" colspan="2">
            <div>Hạng mục</div>
            <div class="italic font-[300]">Description</div>
          </th>
          <th class="py-6 border border-solid text-center w-[80px]">
            <div>SL</div>
            <div class="italic font-[300]">Qty.</div>
          </th>
          <th class="py-6 border border-solid text-center w-[80px]">
            <div>Đơn giá</div>
            <div class="italic font-[300]">Price</div>
          </th>
          <th class="py-6 border border-solid text-center w-[100px]">
            <div>Thành tiền</div>
            <div class="italic font-[300]">Amount</div>
          </th>
          <th class="py-6 border border-solid text-center w-[100px]">
            <div>Đã nộp</div>
            <div class="italic font-[300]">Paid</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-6 border border-solid text-center">1</td>
          <td class="p-6 border border-solid" colspan="4">
            <span>
              <span>Phí quản lý</span>
              <span class="italic">(Management fee)</span>:
            </span>
            <span>01/11/2023 - 30/11/2023</span>
          </td>
          <td class="p-6 border border-solid text-right">767.120</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid" colspan="2">Theo diện tích</td>
          <td class="p-6 border border-solid text-right">95,98</td>
          <td class="p-6 border border-solid text-right">8.000</td>
          <td class="p-6 border border-solid text-right">767.120</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center">2</td>
          <td class="p-6 border border-solid" colspan="4">
            <span>
              <span>Phí nước</span>
              <span class="italic">(Water fee)</span>:
            </span>
            <span>01/10/2023 - 31/10/2023</span>
          </td>
          <td class="p-6 border border-solid text-right">96.370</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid" colspan="2">
            <span>Chỉ số đầu kỳ</span>
            <span class="italic">(Prior meter reading)</span>
          </td>
          <td class="p-6 border border-solid text-right">212</td>
          <td class="p-6 border border-solid text-right"></td>
          <td class="p-6 border border-solid text-right"></td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid" colspan="2">
            <span>Chỉ số cuối kỳ</span>
            <span class="italic">(Current meter reading)</span>
          </td>
          <td class="p-6 border border-solid text-right">223</td>
          <td class="p-6 border border-solid text-right"></td>
          <td class="p-6 border border-solid text-right"></td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid" colspan="2">
            <span>Chỉ số tiêu thụ trong kỳ</span>
            <span class="italic">(Usage this period)</span>
          </td>
          <td class="p-6 border border-solid text-right">11</td>
          <td class="p-6 border border-solid text-right"></td>
          <td class="p-6 border border-solid text-right"></td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center" colspan="2">Bậc 1</td>
          <td class="p-6 border border-solid text-right">10</td>
          <td class="p-6 border border-solid text-right">7.500</td>
          <td class="p-6 border border-solid text-right">75.000</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center" colspan="2">Bậc 2</td>
          <td class="p-6 border border-solid text-right">1</td>
          <td class="p-6 border border-solid text-right">8.800</td>
          <td class="p-6 border border-solid text-right">8.800</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-right" colspan="4">
            Thuế VAT 5%
          </td>
          <td class="p-6 border border-solid text-right">4.190</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-right" colspan="4">
            Phí bảo vệ môi trường 10%
          </td>
          <td class="p-6 border border-solid text-right">8.380</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center">3</td>
          <td class="p-6 border border-solid" colspan="4">
            <span>Phí khác</span>
            <span class="italic">(Other fees)</span>
          </td>
          <td class="p-6 border border-solid text-right">1.240.000</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid" colspan="2">
            Phí gửi xe ô tô: 01/11/2023 - 30/11/2023
          </td>
          <td class="p-6 border border-solid text-right"></td>
          <td class="p-6 border border-solid text-right"></td>
          <td class="p-6 border border-solid text-right"></td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center" colspan="2">
            30A-88843 (01/11/2023 - 30/11/2023)
          </td>
          <td class="p-6 border border-solid text-right">1</td>
          <td class="p-6 border border-solid text-right">1.000.000</td>
          <td class="p-6 border border-solid text-right">1.000.000</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid" colspan="2">
            Phí gửi Xe máy/ Xe máy điện/ Xe đạp điện: 01/11/2023 - 30/11/2023
          </td>
          <td class="p-6 border border-solid text-right"></td>
          <td class="p-6 border border-solid text-right"></td>
          <td class="p-6 border border-solid text-right"></td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center" colspan="2">
            30H6-4710 (01/11/2023 - 30/11/2023)
          </td>
          <td class="p-6 border border-solid text-right">1</td>
          <td class="p-6 border border-solid text-right">80.000</td>
          <td class="p-6 border border-solid text-right">80.000</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center" colspan="2">
            29P1-20147 (01/11/2023 - 30/11/2023)
          </td>
          <td class="p-6 border border-solid text-right">1</td>
          <td class="p-6 border border-solid text-right">80.000</td>
          <td class="p-6 border border-solid text-right">80.000</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid text-center"></td>
          <td class="p-6 border border-solid text-center" colspan="2">
            29E2-64803 (01/11/2023 - 30/11/2023)
          </td>
          <td class="p-6 border border-solid text-right">1</td>
          <td class="p-6 border border-solid text-right">80.000</td>
          <td class="p-6 border border-solid text-right">80.000</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid" colspan="5">
            <span>Tổng</span>
            <span class="italic">(Total)</span>
          </td>
          <td class="p-6 border border-solid text-right">2.103.490</td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-6 border border-solid font-[600]" colspan="5">
            <span>Tổng tiền cần thanh toán</span>
            <span class="italic">(Total amount)</span>
          </td>
          <td class="p-6 border border-solid text-right font-[600]">
            2.103.490
          </td>
          <td class="p-6 border border-solid text-right"></td>
        </tr>
      </tbody>
    </table>

    <div class="text-center">
      <span>Quý cư dân vui lòng thanh toán các khoản phí trên trước ngày</span>
      <span class="font-[600]">06/11/2023</span>
    </div>
    <div class="text-center italic mb-12">
      <span>All the payment should be made before the due date of </span>
      <span class="font-[600]">6th Nov 2023</span>
    </div>

    <div class="mb-12">Phương thức thanh toán:</div>

    <div class="mb-12">
      <div class="mb-6">1. Tiền mặt / cash:</div>

      <div class="pl-14">
        Tại các Quầy lễ tân tại sảnh tầng 1 Tòa V1, V2, V3
      </div>
      <div class="pl-14 mb-6">
        Sáng từ 08h-12h và Chiều từ 13h30 -17h30 Từ thứ hai đến thứ bảy
      </div>

      <div class="pl-14">Tại Văn phòng Ban QLTN tại tầng 4 Tòa V3</div>
      <div class="pl-14 mb-6">
        Sáng từ 08h-12h và Chiều từ 13h30 -17h30 Từ thứ hai đến hết sáng thứ bảy
      </div>

      <div class="pl-14">
        Mọi thắc mắc Quý cư dân vui lòng liên hệ SĐT Hotline CSKH: 0826.102.103
        để được hỗ trợ.
      </div>
    </div>

    <div class="mb-12">
      <div class="mb-6">2. Chuyển khoản:</div>

      <div class="pl-14">
        ĐỐI VỚI CƯ DÂN CĂN HỘ VÀ CÁC GIAN HÀNG THƯƠNG MẠI TẦNG 1
      </div>
      <div class="pl-24">
        Chủ tài khoản: Công ty Cổ phần Đầu tư Văn Phú-Invest
      </div>
      <div class="pl-24">Số tài khoản: 0691000484889</div>
      <div class="pl-24 mb-6">
        Ngân hàng TMCP Ngoại thương Việt Nam(Vietcombank)
      </div>

      <div class="pl-14">ĐỐI VỚI CÁC GIAN HÀNG THƯƠNG MẠI TẦNG 5</div>
      <div class="pl-24">
        Chủ tài khoản: Công ty Cổ phần Đầu tư Văn Phú-Invest
      </div>
      <div class="pl-24">Số tài khoản: 1020080169</div>
      <div class="pl-24 mb-6">
        Ngân hàng TMCP Ngoại thương Việt Nam(Vietcombank)
      </div>

      <div class="pl-14">
        <span>Nội dung chuyển khoản đề nghị quý ông (bà) ghi:</span>
        <span class="font-[600]">Tòa... – Căn hộ số... CC</span>
      </div>
      <div class="pl-24">
        The Terra-An Hưng nộp tiền phí dịch vụ,phí xe, phí nước tháng ....
      </div>
      <div class="pl-24 mb-6">( Ví dụ: V1-0601 nop phi thang7 )</div>

      <div class="pl-14 mb-6">
        Quý cư dân vui lòng chuyển khoản đúng số tiền trên thông báo phí (không
        làm tròn).
      </div>
      <div class="pl-14">
        Trường hợp sau 01 ngày kể từ ngày hết hạn thông báo phí lần 03, Quý cư
        dân chưa hoàn thành nộp phí gửi xe Hệ thống sẽ tự động khoá thẻ. Sau 24h
        các căn hộ hoàn thành đóng phí sẽ được kích hoạt trở lại.
      </div>
    </div>

    <div class="mb-12">
      <div class="mb-3">Lưu ý:</div>
      <div class="pl-14 mb-6">
        Trường hợp Quý cư dân thanh toán bằng hình thức tiền mặt vui lòng nộp
        tiền tại quầy lễ tân trong giờ hành chính (8h đến 17h30) hàng ngày từ
        thứ hai đến thứ 7 trừ ngày các ngày lễ tết.
      </div>

      <div class="pl-14">
        Trường hợp Quý cư dân thanh toán bằng hình thức chuyển khoản vui lòng
        ghi rõ Tòa-mã căn,nội dung cần thanh toán.Trong trường hợp bị nhầm mã
        căn,số tiền chuyển khoản vui lòng gửi thông tin về quầy lễ tân để được
        hỗ trợ.
      </div>
    </div>

    <div class="mb-24 italic font-[500]">
      Quý cư dân đã thanh toán vui lòng bỏ qua thông báo này (If you have
      already paid, please ignore this message)
    </div>

    <table class="table-auto w-full mb-12 whitespace-nowrap">
      <tr>
        <td class="align-top">
          <div class="text-center font-[600]">Trân trọng thông báo!</div>
          <div class="text-center italic">Faithfully</div>
        </td>
        <td class="align-top w-full"></td>
        <td class="text-center">
          <div class="text-center mb-4">
            <div class="font-[600]">TM BAN QUẢN LÝ TÒA NHÀ</div>
            <div class="italic">For Building Management Office</div>
          </div>
        </td>
      </tr>
    </table>
  </block>
</extends>
