---
title: "THÔNG BÁO THU PHÍ"
language: vi
bodyClass: bg-white m-0
class: w-[800px] mx-auto bg-white p-24 font-sans text-[16px] box-border
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full table-auto mb-24">
      <tr>
        <td class="">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/storeage-9a11b.appspot.com/o/vina22.png?alt=media&token=4e2fc4c0-8a92-4a57-ada2-6041dd46bcb2"
            alt="vina22"
            height="72"
          />
          <div class="h-[0.2px] bg-black w-[180px] mb-6"></div>
          <div class="font-[600] pl-16">Số: /CV-VINA2.2</div>
        </td>
        <td class="text-center w-[390px]">
          <div class="uppercase font-[300] text-[18px] mb-6">
            CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
          </div>
          <div class="font-[600] mb-10">Độc lập - Tự do - Hạnh phúc</div>
          <div class="h-[0.2px] bg-black w-[160px] mx-auto mb-8"></div>
          <div class="italic">Hà Nội, ngày tháng 3 năm 2023</div>
        </td>
      </tr>
    </table>

    <h1 class="text-center uppercase my-24 font-[600] text-[22px]">
      GIẤY THÔNG BÁO NỘP TIỀN PHÍ THÁNG 10/2023
    </h1>

    <div class="mb-24 font-[600] pl-8">
      <div class="mb-8">
        <span class="">Kính gửi Quý Cư dân:</span>
        <span class="text-red-600">Hoàng Văn Thám</span>
      </div>
      <div>
        <span class="">Căn hộ:</span>
        <span class="text-red-600">D-3004</span>
      </div>
    </div>

    <div class="mb-12">
      <p class="mb-10">
        Ban quản lý tòa tháp D (BQL), KĐT Kim Văn Kim Lũ trân trọng gửi tới Quý
        cư dân lời chào và lời chúc sức khỏe!
      </p>
      <p>
        BQL xin thông báo phí DV QLVH, trông giữ xe, nước trong kỳ và công nợ
        (nếu có) cụ thể như sau:
      </p>
    </div>

    <table
      class="w-full table-auto border-collapse border-collapse-table mb-24 text-[14px]"
    >
      <thead>
        <tr>
          <th class="py-12 border border-solid w-[32px]">STT</th>
          <th class="py-12 border border-solid text-center">Nội dung</th>
          <th class="py-12 border border-solid text-center w-[56px]">ĐVT</th>
          <th class="py-12 border border-solid text-center w-[56px]">Số<br />tháng</th>
          <th class="py-12 border border-solid text-center w-[80px]">Số<br />lượng</th>
          <th class="py-12 border border-solid text-center w-[80px]">Đơn giá</th>
          <th class="py-12 border border-solid text-center w-[80px]">Thành<br />tiền</th>
          <th class="py-12 border border-solid text-center w-[80px]">Công nợ<br />kỳ trước</th>
          <th class="py-12 border border-solid text-center w-[80px]">Số tiền<br />phải nộp</th>
        </tr>
        <tr>
          <th class="py-12 border border-solid">A</th>
          <th class="py-12 border border-solid">B</th>
          <th class="py-12 border border-solid">D</th>
          <th class="py-12 border border-solid">(1)</th>
          <th class="py-12 border border-solid">(2)</th>
          <th class="py-12 border border-solid">(3)</th>
          <th class="py-12 border border-solid">(4)</th>
          <th class="py-12 border border-solid">(5)</th>
          <th class="py-12 border border-solid">(6=4+5)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-10 border border-solid text-center">1</td>
          <td class="p-10 border border-solid">Phí DV QLVH q3/2023</td>
          <td class="p-10 border border-solid text-center">m2</td>
          <td class="p-10 border border-solid text-right">3</td>
          <td class="p-10 border border-solid text-right">43,5</td>
          <td class="p-10 border border-solid text-right">3.500,0</td>
          <td class="p-10 border border-solid text-right">456.750</td>
          <td class="p-10 border border-solid text-right">100.000</td>
          <td class="p-10 border border-solid text-right">556.750</td>
        </tr>
        <tr>
          <td class="p-10 border border-solid text-center">2</td>
          <td class="p-10 border border-solid">Phí nước T8/2023</td>
          <td class="p-10 border border-solid text-center">m3</td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right">9,0</td>
          <td class="p-10 border border-solid text-right">SHLT</td>
          <td class="p-10 border border-solid text-right">77.625</td>
          <td class="p-10 border border-solid text-right">0</td>
          <td class="p-10 border border-solid text-right">77.625</td>
        </tr>
        <tr>
          <td class="p-10 border border-solid text-center">3</td>
          <td class="p-10 border border-solid">Phí gửi xe</td>
          <td class="p-10 border border-solid text-center"></td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right">420.000</td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right">420.000</td>
        </tr>
        <tr>
          <td class="p-10 border border-solid text-center">4</td>
          <td class="p-10 border border-solid">Phôi thẻ</td>
          <td class="p-10 border border-solid text-center"></td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right">50.000</td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right">50.000</td>
        </tr>
        <tr>
          <td class="px-10 py-16 border border-solid text-center"></td>
          <td class="px-10 py-16 border border-solid font-[600]">Tổng tiền</td>
          <td class="px-10 py-16 border border-solid text-center"></td>
          <td class="px-10 py-16 border border-solid text-right"></td>
          <td class="px-10 py-16 border border-solid text-right"></td>
          <td class="px-10 py-16 border border-solid text-right"></td>
          <td class="px-10 py-16 border border-solid text-right font-[600]">1.004.375</td>
          <td class="px-10 py-16 border border-solid text-right font-[600]">100.000</td>
          <td class="px-10 py-16 border border-solid text-right font-[600]">1.147.625</td>
        </tr>
      </tbody>
    </table>

    <div class="text-center uppercase font-[600] mb-12">BẢNG CHỐT NƯỚC</div>
    <table
      class="w-full table-auto border-collapse border-collapse-table mb-24 text-[14px]"
    >
      <thead>
        <tr>
          <th class="py-12 border border-solid w-[32px]">TT</th>
          <th class="py-12 border border-solid w-[66px]">Căn hộ</th>
          <th class="py-12 border border-solid">CS ngày 28/07/2023</th>
          <th class="py-12 border border-solid">CS ngày 28/08/2023</th>
          <th class="py-12 border border-solid">Khối lượng tiêu thụ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-10 border border-solid text-center">1</td>
          <td class="p-10 border border-solid text-center">B-4007</td>
          <td class="p-10 border border-solid text-center">292</td>
          <td class="p-10 border border-solid text-center">301</td>
          <td class="p-10 border border-solid text-center">9</td>
        </tr>
      </tbody>
    </table>

    <div class="text-center uppercase font-[600] mb-12">BẢNG GIA HẠN XE</div>
    <table
      class="w-full table-auto border-collapse border-collapse-table mb-24 text-[14px]"
    >
      <thead>
        <tr>
          <th class="py-12 border border-solid w-[32px]">TT</th>
          <th class="py-12 border border-solid w-[66px]">Căn hộ</th>
          <th class="py-12 border border-solid w-[66px]">Loại xe</th>
          <th class="py-12 border border-solid">BKS</th>
          <th class="py-12 border border-solid w-[66px]">Số tiền</th>
          <th class="py-12 border border-solid">Ngày gia<br />hạn</th>
          <th class="py-12 border border-solid">Ngày hết<br />hạn</th>
          <th class="py-12 border border-solid">Số tháng</th>
          <th class="py-12 border border-solid">Tổng<br />cộng</th>
          <th class="py-12 border border-solid">Phôi thẻ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-10 border border-solid text-center">1</td>
          <td class="p-10 border border-solid text-center">B-4007</td>
          <td class="p-10 border border-solid text-center">Xe máy</td>
          <td class="p-10 border border-solid text-center">29-V1-08017</td>
          <td class="p-10 border border-solid text-right">70.000</td>
          <td class="p-10 border border-solid text-right">01/10/2023</td>
          <td class="p-10 border border-solid text-right">31/12/2023</td>
          <td class="p-10 border border-solid text-center">
            <span class="text-red-500">3,0</span>
          </td>
          <td class="p-10 border border-solid text-right">210.000</td>
          <td class="p-10 border border-solid text-right">50.000</td>
        </tr>
        <tr>
          <td class="p-10 border border-solid text-center">2</td>
          <td class="p-10 border border-solid text-center">B-4007</td>
          <td class="p-10 border border-solid text-center">Xe máy</td>
          <td class="p-10 border border-solid text-center">98-L8-5318</td>
          <td class="p-10 border border-solid text-right">70.000</td>
          <td class="p-10 border border-solid text-right">01/10/2023</td>
          <td class="p-10 border border-solid text-right">31/12/2023</td>
          <td class="p-10 border border-solid text-center">
            <span class="text-red-500">3,0</span>
          </td>
          <td class="p-10 border border-solid text-right">210.000</td>
          <td class="p-10 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="px-10 py-12 border border-solid text-center"></td>
          <td class="px-10 py-12 border border-solid text-center font-[600]" colspan="7">
            Tổng tiền
          </td>
          <td class="px-10 py-12 border border-solid text-right font-[600]">420.000</td>
          <td class="px-10 py-12 border border-solid text-right font-[600]">50.000</td>
        </tr>
      </tbody>
    </table>

    <div class="">
      <div class="font-[600] mb-12">
        <span>1. Thời gian thu phí: </span>
        <span class="underline">Từ ngày 01/10/2023 đến 03/10/2023</span>
      </div>

      <div class="font-[600] mb-12">
        <span>2. Hình thức thanh toán: </span>
      </div>

      <div class="mb-12">
        <span class="font-[600] italic">2.1 Tiền mặt: </span>
        <span>Nộp tiền tại sảnh tầng 1, toà tháp D (Trong giờ hành chính)</span>
      </div>

      <div class="mb-12">
        <span class="font-[600] italic">2.2 Chuyển khoản: </span>
        <div class="pl-40 mt-6">
          <table class="w-full table-auto">
            <tr>
              <td class="py-4">Đơn vị hưởng:</td>
              <td class="py-4 font-[600]">
                CTY TNHH DAU TU VA DICH VU DO THI VINA2
              </td>
              <td rowspan="4" class="w-[100px]">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/storeage-9a11b.appspot.com/o/qr.png?alt=media&token=b9927320-fcdb-49b9-9d3a-dfc25cfade15"
                  alt=""
                  height="100"
                />
              </td>
            </tr>
            <tr>
              <td class="py-4">Số tải khoản:</td>
              <td class="py-4 font-[600]">12900 55566</td>
            </tr>
            <tr>
              <td class="py-4">Ngân hàng:</td>
              <td class="py-4 font-[600]">
                TMCP đầu tư và phát triển VN (BIDV)
              </td>
            </tr>
            <tr>
              <td class="py-4">Nội dung:</td>
              <td class="py-4 font-[600]">Căn hộ D… nộp tiền</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="mb-24">
        <div class="font-[600] mb-6">3. Thời hạn thanh toán:</div>

        <p class="indent-[40px] leading-[1.4] mb-6 text-justify">
          Sau 03 ngày kể từ ngày cuối cùng theo lịch thu tiền trên, nếu Quý cư
          dân chưa thanh toán, BQL sẽ tạm ngừng cung cấp các dịch vụ. Việc cấp
          lại các dịch vụ sẽ được thực hiện trong giờ hành chính sau 01 ngày làm
          việc. Phí cấp lại dịch vụ: <b>50.000 VNĐ</b>
          <i>(Bằng chữ: Năm mươi nghìn đồng).</i>
        </p>
        <p class="indent-[40px] leading-[1.4] mb-6 text-justify">
          Để biết thêm thông tin chi tiết, Quý cư dân vui lòng truy cập website:
          <b>vina2iusc.vn</b>. Mọi thắc mắc xin liên hệ SĐT: 0349 654 026 (Trong
          giờ hành chính) để dược hỗ trợ.
        </p>
        <p class="indent-[40px] leading-[1.4] mb-6 text-justify">
          Quý cư dân vui lòng bỏ qua thông báo này nếu đã thanh toán.
        </p>
        <div class="indent-[40px] font-[600]">Trân trọng thông báo!</div>
      </div>
    </div>

    <table class="table-auto w-full mb-[64px]">
      <tr>
        <td>
          <div class="font-[600] underline">Nơi nhận:</div>
          <div class="italic">- Như kính gửi;</div>
          <div class="italic">- Lưu BQT, VINA2.2.</div>
        </td>
        <td class="text-right align-top">
          <div class="font-[600] uppercase">BQL TÒA THÁP D</div>
        </td>
      </tr>
    </table>
  </block>
</extends>
