---
title: "THÔNG BÁO THU PHÍ"
language: vi
bodyClass: bg-white m-0
class: w-[800px] mx-auto bg-white p-24 font-sans text-[16px] box-border
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full table-auto mb-6">
      <tr>
        <td class="">
          <div class="w-[200px]">
            <img
              src="http://vina2iusc.vn/uploads/plugin/setting/3/1591175068-90320270-cong-ty-tnhh-u-t-va-d-ch-v-o-th-vina2.jpg"
              alt="vina22"
              height="99"
            />
          </div>
        </td>
        <td class="text-left">
          <div class="font-[600] uppercase text-[20px] mb-12">
            CÔNG TY TNHH ĐẦU TƯ VÀ DỊCH VỤ ĐÔ THỊ VINA2
          </div>
          <div class="mb-6">
            Địa chỉ: Tầng 4B, tòa tháp D, KĐT Kim Văn Kim lũ – P.Đại Kim –
            Q.Hoàng Mai – TP.Hà Nội - VN
          </div>
          <div class="mb-4">
            <span class="mr-[48px]">ĐT: 0966.275.766</span>
            <span>
              Website:
              <a
                href="http://vina2iusc.vn/"
                target="_blank"
                rel="noopener noreferrer"
                >Vina2iusc.vn</a
              ></span
            >
          </div>
        </td>
      </tr>
    </table>
    <div class="h-[2px] bg-black w-full mb-24"></div>

    <h1 class="text-center uppercase mt-48 font-[600] text-[36px] leading-1">
      PHIẾU THU
    </h1>
    <div class="text-center mb-40">Ngày 31 tháng 10 năm 2023</div>

    <table class="w-full table-auto mb-12 pl-32 font-[600]">
      <tr>
        <td>
          <span class="">Căn hộ:</span>
          <span class="text-[18px]">B-4105</span>
        </td>
        <td>
          <span class="">Họ tên:</span>
          <span class="text-[18px]">Tô Xuân Hòa</span>
        </td>
      </tr>
    </table>

    <table
      class="w-full table-auto border-collapse border-collapse-table mb-24 text-[14px]"
    >
      <thead>
        <tr>
          <th class="py-12 border border-solid w-[32px]">STT</th>
          <th class="py-12 border border-solid text-center">Nội dung</th>
          <th class="py-12 border border-solid text-center w-[56px]">ĐVT</th>
          <th class="py-12 border border-solid text-center w-[56px]">
            Số<br />tháng
          </th>
          <th class="py-12 border border-solid text-center w-[80px]">
            Số<br />lượng
          </th>
          <th class="py-12 border border-solid text-center w-[80px]">
            Đơn giá
          </th>
          <th class="py-12 border border-solid text-center w-[80px]">
            Thành<br />tiền
          </th>
          <th class="py-12 border border-solid text-center w-[80px]">
            Công nợ<br />kỳ trước
          </th>
          <th class="py-12 border border-solid text-center w-[80px]">
            Số tiền<br />phải nộp
          </th>
        </tr>
        <tr>
          <th class="py-12 border border-solid">A</th>
          <th class="py-12 border border-solid">B</th>
          <th class="py-12 border border-solid">D</th>
          <th class="py-12 border border-solid">(1)</th>
          <th class="py-12 border border-solid">(2)</th>
          <th class="py-12 border border-solid">(3)</th>
          <th class="py-12 border border-solid">(4)</th>
          <th class="py-12 border border-solid">(5)</th>
          <th class="py-12 border border-solid">(6=4+5)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-10 border border-solid text-center">1</td>
          <td class="p-10 border border-solid">Phí DV QLVH q4/2023</td>
          <td class="p-10 border border-solid text-center">m2</td>
          <td class="p-10 border border-solid text-right">3</td>
          <td class="p-10 border border-solid text-right">80,0</td>
          <td class="p-10 border border-solid text-right">3.500,0</td>
          <td class="p-10 border border-solid text-right">840.000</td>
          <td class="p-10 border border-solid text-right">-</td>
          <td class="p-10 border border-solid text-right">840.000</td>
        </tr>
        <tr>
          <td class="p-10 border border-solid text-center">2</td>
          <td class="p-10 border border-solid">Phí nước T9/2023</td>
          <td class="p-10 border border-solid text-center">m3</td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right">15</td>
          <td class="p-10 border border-solid text-right">SHLT</td>
          <td class="p-10 border border-solid text-right">136.850</td>
          <td class="p-10 border border-solid text-right">-</td>
          <td class="p-10 border border-solid text-right">136.850</td>
        </tr>
        <tr>
          <td class="p-10 border border-solid text-center">3</td>
          <td class="p-10 border border-solid">Phí điện T9/2023</td>
          <td class="p-10 border border-solid text-center">kWh</td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right">-</td>
          <td class="p-10 border border-solid text-right">-</td>
          <td class="p-10 border border-solid text-right">-</td>
          <td class="p-10 border border-solid text-right">-</td>
          <td class="p-10 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="p-10 border border-solid text-center">4</td>
          <td class="p-10 border border-solid">Phí gửi xe</td>
          <td class="p-10 border border-solid text-center"></td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right">1.420.000</td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right">1.420.000</td>
        </tr>
        <tr>
          <td class="p-10 border border-solid text-center">5</td>
          <td class="p-10 border border-solid">Phôi thẻ</td>
          <td class="p-10 border border-solid text-center"></td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right">-</td>
          <td class="p-10 border border-solid text-right"></td>
          <td class="p-10 border border-solid text-right">-</td>
        </tr>
        <tr>
          <td class="px-10 py-16 border border-solid text-center"></td>
          <td class="px-10 py-16 border border-solid font-[600]">Tổng tiền</td>
          <td class="px-10 py-16 border border-solid text-center"></td>
          <td class="px-10 py-16 border border-solid text-right"></td>
          <td class="px-10 py-16 border border-solid text-right"></td>
          <td class="px-10 py-16 border border-solid text-right"></td>
          <td class="px-10 py-16 border border-solid text-right font-[600]">
            2.396.850
          </td>
          <td
            class="px-10 py-16 border border-solid text-right font-[600]"
          ></td>
          <td class="px-10 py-16 border border-solid text-right font-[600]">
            2.396.850
          </td>
        </tr>
      </tbody>
    </table>

    <div class="text-center uppercase font-[600] mb-12">BẢNG CHỐT NƯỚC</div>
    <table
      class="w-full table-auto border-collapse border-collapse-table mb-24 text-[14px]"
    >
      <thead>
        <tr>
          <th class="py-12 border border-solid w-[32px]">TT</th>
          <th class="py-12 border border-solid">Căn hộ</th>
          <th class="py-12 border border-solid">CS ngày 28/08/2023</th>
          <th class="py-12 border border-solid">CS ngày 28/09/2023</th>
          <th class="py-12 border border-solid">Khối lượng tiêu thụ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-10 border border-solid text-center">1</td>
          <td class="p-10 border border-solid text-center">B-4105</td>
          <td class="p-10 border border-solid text-center">510</td>
          <td class="p-10 border border-solid text-center">525</td>
          <td class="p-10 border border-solid text-center">15</td>
        </tr>
      </tbody>
    </table>

    <div class="text-center uppercase font-[600] mb-12">BẢNG GIA HẠN XE</div>
    <table
      class="w-full table-auto border-collapse border-collapse-table mb-24 text-[14px] whitespace-nowrap"
    >
      <thead>
        <tr>
          <th class="py-12 border border-solid w-[32px]">TT</th>
          <th class="py-12 border border-solid">Căn hộ</th>
          <th class="py-12 border border-solid">Loại xe</th>
          <th class="py-12 border border-solid">BKS</th>
          <th class="py-12 border border-solid">Số tiền</th>
          <th class="py-12 border border-solid">Ngày gia<br />hạn</th>
          <th class="py-12 border border-solid">Ngày hết<br />hạn</th>
          <th class="py-12 px-4 border border-solid">Số tháng</th>
          <th class="py-12 border border-solid">Tổng cộng</th>
          <th class="py-12 px-4 border border-solid">Phôi thẻ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-10 border border-solid text-center">1</td>
          <td class="p-10 border border-solid text-center">B-4105</td>
          <td class="p-10 border border-solid text-center">Xe máy</td>
          <td class="p-10 border border-solid text-center">29-D2-19039</td>
          <td class="p-10 border border-solid text-right">70.000</td>
          <td class="p-10 border border-solid text-right">01/10/2023</td>
          <td class="p-10 border border-solid text-right">31/12/2023</td>
          <td class="p-10 border border-solid text-center">
            <span class="text-red-500">3,0</span>
          </td>
          <td class="p-10 border border-solid text-right">210.000</td>
          <td class="p-10 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-10 border border-solid text-center">2</td>
          <td class="p-10 border border-solid text-center">B-4105</td>
          <td class="p-10 border border-solid text-center">Xe máy</td>
          <td class="p-10 border border-solid text-center">17B8-23979</td>
          <td class="p-10 border border-solid text-right">70.000</td>
          <td class="p-10 border border-solid text-right">01/10/2023</td>
          <td class="p-10 border border-solid text-right">31/12/2023</td>
          <td class="p-10 border border-solid text-center">
            <span class="text-red-500">3,0</span>
          </td>
          <td class="p-10 border border-solid text-right">210.000</td>
          <td class="p-10 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-10 border border-solid text-center">3</td>
          <td class="p-10 border border-solid text-center">B-4105</td>
          <td class="p-10 border border-solid text-center">Xe máy</td>
          <td class="p-10 border border-solid text-center">29C1-38091</td>
          <td class="p-10 border border-solid text-right">100.000</td>
          <td class="p-10 border border-solid text-right">01/10/2023</td>
          <td class="p-10 border border-solid text-right">31/12/2023</td>
          <td class="p-10 border border-solid text-center">
            <span class="text-red-500">3,0</span>
          </td>
          <td class="p-10 border border-solid text-right">300.000</td>
          <td class="p-10 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="p-10 border border-solid text-center">4</td>
          <td class="p-10 border border-solid text-center">B-4105</td>
          <td class="p-10 border border-solid text-center">Ô tô</td>
          <td class="p-10 border border-solid text-center">30E-94897</td>
          <td class="p-10 border border-solid text-right">700.000</td>
          <td class="p-10 border border-solid text-right">01/10/2023</td>
          <td class="p-10 border border-solid text-right">20/10/2023</td>
          <td class="p-10 border border-solid text-center">
            <span class="text-red-500">1,0</span>
          </td>
          <td class="p-10 border border-solid text-right">700.000</td>
          <td class="p-10 border border-solid text-right"></td>
        </tr>
        <tr>
          <td class="px-10 py-12 border border-solid text-center"></td>
          <td
            class="px-10 py-12 border border-solid text-center font-[600]"
            colspan="7"
          >
            Tổng tiền
          </td>
          <td class="px-10 py-12 border border-solid text-right font-[600]">
            1.420.000
          </td>
          <td class="px-10 py-12 border border-solid text-right font-[600]">
            -
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table-auto w-full mb-[80px]">
      <tr>
        <td class="align-top pl-[60px]">
          <div class="text-center whitespace-nowrap font-[600] mb-2 uppercase">
            NGƯỜI NỘP TIỀN
          </div>
        </td>
        <td class="w-full"></td>
        <td class="align-top">
          <div
            class="text-center whitespace-nowrap font-[600] mb-2 uppercase pr-[60px]"
          >
            NGƯỜI LẬP PHIẾU
          </div>
        </td>
      </tr>
    </table>
  </block>
</extends>
